input,
select {
  background-color: #0f172a;
  border: none;
  color: #cbd5e1;
  padding: 0.125rem;
  margin-right: auto;
  color-scheme: dark;
  grid-column: span 2 / span 2;
}

input:focus,
select:focus {
  outline: none;
}

input::placeholder,
select::placeholder {
  color: #64748b;
}

label {
  color: #94a3b8;
  grid-column: span 1 / span 1;
}
