<div class="flex flex-col gap-4">
  <app-form-text-input-control
    identifier="assignee"
    type="text"
    [control]="form"
    [placeholder]="'task.assignees.ASSIGNEE_INPUT_PLACEHOLDER' | translate"
    customClass="dark:bg-slate-950 bg-orange-200"
  />
  <app-users-list
    iconName="person_remove"
    [users]="paginatedUsers"
    (handleClick)="handleRemove($event)"
  />
  <app-paginator
    [length]="filteredUsersCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizes"
    [currentPage]="currentPage"
    (page)="pageChanged($event)"
  />
</div>
