<div class="flex flex-col gap-4">
  <input
    type="text"
    [formControl]="form"
    [placeholder]="'task.assignees.ASSIGNEE_INPUT_PLACEHOLDER' | translate"
    class="w-full py-2 px-3 border-none bg-orange-200 dark:bg-slate-950 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 dark:text-slate-300 placeholder-slate-500 text-slate-700"
  />
  <app-task-users-list
    iconName="person_remove"
    [users]="paginatedUsers"
    (handleClick)="handleRemove($event)"
  />
  <app-paginator
    [length]="filteredUsersCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizes"
    [currentPage]="currentPage"
    (page)="pageChanged($event)"
  />
</div>
