<div class="flex w-full flex-col gap-1.5 lg:w-70 xl:w-80">
  <p class="self-center font-medium text-sky-600 dark:text-sky-500">
    {{ "dashboard.upcomingDeadlines.TITLE" | translate }}
  </p>
  @if (sortedProjectsByEndDate().length === 0) {
    <p class="text-center text-gray-400 drop-shadow-sm">
      {{ "dashboard.upcomingDeadlines.NO_DEADLINES" | translate }}
    </p>
  }
  @for (project of sortedProjectsByEndDate(); track project.id) {
    <button
      class="focus-ring flex min-h-25 cursor-pointer flex-col justify-between gap-2 rounded-lg bg-orange-100 p-4 text-left shadow-xs transition-all hover:bg-orange-200 sm:min-h-30 dark:bg-slate-900 dark:hover:bg-slate-900/70"
      routerLink="/projects/{{ project.id }}"
    >
      <h3 class="text-break line-clamp-2 text-base font-semibold sm:text-lg">
        {{ project.name }}
      </h3>
      <div class="flex flex-col">
        <p class="gap-1 text-xs text-gray-600 sm:text-sm dark:text-gray-400">
          {{ "dashboard.upcomingDeadlines.DEADLINE" | translate }}:
          <span class="text-gray-700 drop-shadow-sm dark:text-gray-300">
            {{ project.endDate | customDate }}
          </span>
        </p>
        <p
          class="text-xs sm:text-sm font-semibold {{
            deadlineClass(project.endDate, project.status)
          }}"
        >
          {{ deadlineMessage(project.endDate, project.status) }}
        </p>
      </div>
    </button>
  }
</div>
