<h2 class="text-2xl font-bold leading-[1.125] shadow-sm sm:text-6xl">
  {{ "homepage.TITLE" | translate }}
</h2>
<p class="text-sm text-slate-600 dark:text-slate-400 sm:text-base">
  {{ "homepage.DESCRIPTION" | translate }}
</p>
<button
  class="mx-auto rounded-full bg-sky-600 px-4 py-3 text-sm font-medium text-slate-100 transition-all hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-200 active:text-sky-200"
  routerLink="/auth/signup"
>
  {{ "homepage.SIGN_UP_BUTTON" | translate }}
</button>
