<div
  class="flex max-w-75 flex-col items-center gap-4 rounded-lg bg-orange-100 p-4 shadow-xs sm:max-w-90 lg:w-100 dark:bg-slate-900"
>
  <div class="flex flex-col gap-1">
    <h2 class="text-lg font-semibold">
      {{ "dashboard.projectsSummary.TITLE" | translate }}
    </h2>
    <p class="text-sm text-gray-700 dark:text-gray-400">
      {{ "dashboard.projectsSummary.ONGOING_PROJECTS_TEXT" | translate }}
      <span class="font-bold text-gray-800 dark:text-gray-300">
        {{ activeProjectsCount }}
      </span>
    </p>
  </div>
  @if (projects.length > 0) {
    <canvas
      baseChart
      type="doughnut"
      [data]="progressChartData"
      [labels]="progressChartData.labels"
      [options]="progressChartOptions"
    >
    </canvas>
  }
</div>
