<div class="flex flex-col gap-2 px-4 py-3 rounded-sm bg-slate-900">
  <div class="flex justify-between">
    <div class="flex gap-2 items-center">
      <div
        class="bg-slate-800 text-slate-300 flex justify-center items-center rounded-full w-[40px] h-[40px] aspect-square"
      >
        <mat-icon>manage_accounts</mat-icon>
      </div>
      <p class="font-semibold">
        {{ "showMoreMembers.MANAGE_TEXT" | translate }}
      </p>
    </div>
    <button
      (click)="handleClose()"
      class="focus:outline-none focus:text-opacity-90"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <div class="flex flex-col gap-1 overflow-y-scroll max-h-[400px] px-1">
      @for (member of members; track member.username) {
      <button
        class="flex justify-between items-center p-2 hover:bg-slate-700 focus:outline-none focus:bg-slate-700 rounded-full cursor-pointer transition-colors disabled:cursor-not-allowed"
        (click)="handleNavigateToProfile(member)"
        [disabled]="loading"
        tabindex="0"
      >
        <p class="flex gap-3 items-center flex-grow">
          <app-profile-icon
            size="lg"
            [firstName]="member.firstName"
            [lastName]="member.lastName"
            [hover]="false"
          />
          <span class="text-slate-100"
            >{{ member.firstName }} {{ member.lastName }}</span
          >
        </p>
        @if (!(project?.owner?.username === member.username)) {
        <button
          class="bg-pink-900 text-pink-200 hover:bg-pink-950 transition-all p-0.5 flex justify-center items-center rounded-full focus:outline-none focus:ring-2 focus:ring-pink-200"
          (click)="handleRemove(member); $event.stopPropagation()"
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </button>
      }
    </div>
  </div>
</div>
