<div class="flex flex-col gap-2 px-4 py-3 rounded-sm bg-slate-900">
  <div class="flex justify-between">
    <div class="flex gap-2 items-center">
      <div
        class="bg-slate-800 text-slate-300 flex justify-center items-center rounded-full w-[40px] h-[40px] aspect-square"
      >
        @if (isOnlyShow) {
        <mat-icon>people</mat-icon>
        } @else {
        <mat-icon>manage_accounts</mat-icon>
        }
      </div>
      <p class="font-semibold">
        {{ isOnlyShow ? "All members" : "Manage members" }}
      </p>
    </div>
    <button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <ul class="flex flex-col gap-1 overflow-y-scroll max-h-[400px] px-1">
      @for (member of members; track member.username) {
      <li
        class="flex justify-between items-center p-2 hover:bg-slate-700 rounded-full cursor-pointer transition-colors"
      >
        <div
          class="flex gap-1 items-center flex-grow"
          [routerLink]="['/users', member.username]"
          (click)="onClose()"
          tabindex="0"
        >
          <div
            class="flex items-center justify-center w-8 h-8 bg-blue-600 text-white rounded-full mr-3"
          >
            {{ member.firstName.charAt(0) }}{{ member.lastName.charAt(0) }}
          </div>
          <span class="text-slate-100"
            >{{ member.firstName }} {{ member.lastName }}</span
          >
        </div>
        @if (!isOnlyShow && !(projectOwner?.username === member.username)) {
        <button
          class="bg-pink-900 text-pink-200 hover:bg-pink-950 transition-all p-0.5 flex justify-center items-center rounded-full"
          (click)="handleRemove(member)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </li>
      }
    </ul>
  </div>
</div>
