<div class="flex flex-col gap-2 rounded-xs bg-slate-900 px-4 py-3">
  <div class="flex justify-between">
    <div class="flex items-center gap-2">
      <div
        class="flex aspect-square size-10 items-center justify-center rounded-full bg-slate-800 text-slate-300"
      >
        <mat-icon>manage_accounts</mat-icon>
      </div>
      <p class="font-semibold">
        {{ "showMoreMembers.MANAGE_TEXT" | translate }}
      </p>
    </div>
    <button
      (click)="handleClose()"
      class="focus-visible:text-slate-400/90 focus-visible:outline-hidden"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <div class="flex max-h-96 flex-col gap-1 overflow-y-auto px-1">
      @for (member of members; track member.username) {
        <button
          class="flex cursor-pointer items-center justify-between rounded-full p-2 transition-colors hover:bg-slate-700 focus-visible:bg-slate-700 focus-visible:outline-hidden disabled:cursor-not-allowed"
          (click)="handleNavigateToProfile(member)"
          [disabled]="loading"
          tabindex="0"
        >
          <p class="flex grow items-center gap-3">
            <app-profile-icon
              size="lg"
              [firstName]="member.firstName"
              [lastName]="member.lastName"
              [hover]="false"
            />
            <span class="text-slate-100"
              >{{ member.firstName }} {{ member.lastName }}</span
            >
          </p>
          @if (!(project?.owner?.username === member.username)) {
            <button
              class="flex items-center justify-center rounded-full bg-pink-900 p-0.5 text-pink-200 transition-all hover:bg-pink-950 focus-visible:ring-2 focus-visible:ring-pink-200 focus-visible:outline-hidden"
              (click)="handleRemove(member); $event.stopPropagation()"
            >
              <mat-icon>delete</mat-icon>
            </button>
          }
        </button>
      }
    </div>
  </div>
</div>
