@if (priority === TaskPriority.LOW) {
  <div
    class="bg-yellow-200 text-gray-900 rounded-full px-2.5 py-0.5 flex items-center justify-center font-semibold {{
      textSize
    }}"
  >
    {{ mapPriority(TaskPriority.LOW) }}
  </div>
} @else if (priority === TaskPriority.MEDIUM) {
  <div
    class="bg-orange-500 text-gray-900 rounded-full px-2.5 py-0.5 flex items-center justify-center font-semibold {{
      textSize
    }}"
  >
    {{ mapPriority(TaskPriority.MEDIUM) }}
  </div>
} @else {
  <div
    class="bg-rose-800 text-gray-900 rounded-full px-2.5 py-0.5 flex items-center justify-center font-semibold {{
      textSize
    }}"
  >
    {{ mapPriority(TaskPriority.HIGH) }}
  </div>
}
