<div class="flex justify-between items-center title-bg">
  <h2 mat-dialog-title>Edit Card</h2>
  <button class="relative right-4" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex items-start gap-3">
      <div class="grid grid-cols-[auto,1fr] gap-4">
        <div class="flex flex-col gap-1 col-span-2">
          <input
            id="description"
            type="text"
            formControlName="description"
            placeholder="Enter task description"
            class="w-full p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-950 placeholder-slate-600"
          />
          @if (descriptionIsInvalid) {
          <p class="text-red-500 text-sm">
            Description name must contain between 2 and 120 characters.
          </p>
          }
        </div>
        <label for="dueDate" class="text-gray-400 self-center">Due date:</label>
        <div class="flex flex-col gap-1">
          <input
            id="dueDate"
            type="date"
            formControlName="dueDate"
            class="p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-950"
          />
          @if (dueDateIsInvalid) {
          <p class="text-red-500 text-sm">Due date is required.</p>
          }
        </div>
        <label for="status" class="text-gray-400 self-center">Status:</label>
        <div class="flex flex-col gap-1">
          <select
            id="status"
            formControlName="status"
            class="w-full p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-950"
          >
            <option value="" disabled>Select status</option>
            @for (status of statuses; track status) {
            <option [value]="status">
              {{ status }}
            </option>
            }
          </select>
          @if (statusIsInvalid) {
          <p class="text-red-500 text-sm">Status is required.</p>
          }
        </div>
        <label for="priority" class="text-gray-400 self-center"
          >Priority:</label
        >
        <div class="flex flex-col gap-1">
          <select
            id="priority"
            formControlName="priority"
            class="w-full p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-950"
          >
            <option value="" disabled>Select priority</option>
            @for (priority of priorities; track priority) {
            <option [value]="priority">
              {{ priority }}
            </option>
            }
          </select>
          @if (priorityIsInvalid) {
          <p class="text-red-500 text-sm">Priority is required.</p>
          }
        </div>
        <div class="flex justify-end gap-2 col-start-2">
          <button
            (click)="onReset()"
            class="px-1.5 py-1 bg-slate-900 flex justify-center items-center rounded-md text-slate-300"
          >
            <p class="text-xs">reset</p>
          </button>
          <button
            type="submit"
            class="px-1.5 py-1 bg-sky-500 flex justify-center items-center rounded-md text-white"
          >
            <p class="text-xs">save</p>
          </button>
        </div>
      </div>
      <div class="flex flex-col gap-1 text-gray-500 w-3/4">
        <label class="text-gray-400 text-center">Task Assignees:</label>
        <ul class="text-xs divide-y divide-slate-600">
          @for (user of selectedTask.users; track user.userName) {
          <li
            class="flex justify-between items-center p-2 gap-1 text-slate-400"
          >
            <p class="flex items-center">
              {{ user.firstName }} {{ user.lastName }}
              <span class="text-slate-600">({{ user.userName }})</span>
            </p>
            <button
              class="bg-slate-300 text-slate-900 flex justify-center items-center rounded-full p-0.5 hover:bg-slate-400 transition-all"
            >
              <mat-icon class="text-base">person_remove</mat-icon>
            </button>
          </li>
          }
        </ul>
        <app-inline-search [usersAlreadyIn]="taskMembers" />
      </div>
    </div>
  </form>
</mat-dialog-content>
