@if (project) {
<div
  class="bg-slate-950 flex-1 flex flex-col items-center justify-start rounded-lg shadow-sm h-full text-gray-400 p-4 gap-2"
>
  <h3 class="text-gray-100 self-start">Done</h3>
  <div
    cdkDropList
    #completedList="cdkDropList"
    [cdkDropListData]="completedTasks"
    [cdkDropListConnectedTo]="[inProgressList, notStartedList]"
    id="completed"
    class="w-full flex flex-col gap-1 min-h-[10px]"
    (cdkDropListDropped)="drop($event)"
    cdkDropListSortingDisabled
  >
    @for (task of completedTasks; track task.id) {
    <div
      class="p-3 rounded-lg text-gray-300 shadow-lg border-b border-slate-700 bg-card list-none cursor-pointer flex flex-col gap-2 hover:border-slate-600"
      routerLink="/projects/{{ project.id }}/tasks/{{ task.id }}"
      cdkDrag
    >
      <div class="flex justify-between items-center">
        <p class="text-sm">{{ task.description }}</p>
        <app-priority [priority]="task.priority" />
      </div>
      <div class="flex justify-between items-center gap-1">
        <span class="text-xs text-gray-400 flex items-center gap-1">
          <mat-icon class="text-base">schedule</mat-icon>
          {{ task.dueDate | date }}</span
        >
        @if (task.members && task.members.length) {
        <div class="flex items-center gap-1">
          @for (user of task.members.slice(0, 3); track user.username) {
          <app-profile-icon
            size="sm"
            [firstName]="user.firstName"
            [lastName]="user.lastName"
            [hover]="false"
          />
          } @if (task.members.length > 3) {
          <span class="text-xs text-gray-400"
            >+{{ task.members.length - 3 }}</span
          >
          }
        </div>
        }
      </div>
    </div>
    }
  </div>
  @if (project.status !== ProjectStatus.COMPLETED) {
  <button
    class="self-start flex gap-1 items-center text-sm hover:text-gray-500 transition-all w-full py-2"
    (click)="openAddCardDialog(TaskStatus.COMPLETED)"
  >
    <mat-icon class="text-base">add</mat-icon>
    {{ "task.drag-and-drop.ADD_BUTTON" | translate }}
  </button>
  }
</div>

<div
  class="bg-slate-950 flex-1 flex flex-col items-center justify-start rounded-lg shadow-sm h-full text-gray-400 p-4 gap-2"
>
  <h3 class="text-gray-100 self-start">In Progress</h3>
  <div
    cdkDropList
    #inProgressList="cdkDropList"
    [cdkDropListData]="inProgressTasks"
    [cdkDropListConnectedTo]="[completedList, notStartedList]"
    id="inProgress"
    class="w-full flex flex-col gap-1 min-h-[10px]"
    (cdkDropListDropped)="drop($event)"
    cdkDropListSortingDisabled
  >
    @for (task of inProgressTasks; track task.id) {
    <div
      class="p-3 rounded-lg text-gray-300 shadow-lg border-b border-slate-700 bg-card list-none cursor-pointer flex flex-col gap-2 hover:border-slate-600"
      routerLink="/projects/{{ project.id }}/tasks/{{ task.id }}"
      cdkDrag
    >
      <div class="flex justify-between items-center">
        <p class="text-sm">{{ task.description }}</p>
        <app-priority [priority]="task.priority" />
      </div>
      <div class="flex justify-between items-center gap-1">
        <span class="text-xs text-gray-400 flex items-center gap-1">
          <mat-icon class="text-base">schedule</mat-icon>
          {{ task.dueDate | date }}</span
        >
        @if (task.members && task.members.length) {
        <div class="flex items-center gap-1">
          @for (user of task.members.slice(0, 3); track user.username) {
          <app-profile-icon
            size="sm"
            [firstName]="user.firstName"
            [lastName]="user.lastName"
            [hover]="false"
          />
          } @if (task.members.length > 3) {
          <span class="text-xs text-gray-400"
            >+{{ task.members.length - 3 }}</span
          >
          }
        </div>
        }
      </div>
    </div>
    }
  </div>
  @if (project.status !== ProjectStatus.COMPLETED) {
  <button
    class="self-start flex gap-1 items-center text-sm hover:text-gray-500 transition-all w-full py-2"
    (click)="openAddCardDialog(TaskStatus.IN_PROGRESS)"
  >
    <mat-icon class="text-base">add</mat-icon>
    {{ "task.drag-and-drop.ADD_BUTTON" | translate }}
  </button>
  }
</div>

<div
  class="bg-slate-950 flex-1 flex flex-col items-center justify-start rounded-lg shadow-sm h-full text-gray-400 p-4 gap-2"
>
  <h3 class="text-gray-100 self-start">Upcoming</h3>
  <div
    cdkDropList
    #notStartedList="cdkDropList"
    [cdkDropListData]="notStartedTasks"
    [cdkDropListConnectedTo]="[inProgressList, completedList]"
    id="notStarted"
    class="w-full flex flex-col gap-1 min-h-[10px]"
    (cdkDropListDropped)="drop($event)"
    cdkDropListSortingDisabled
  >
    @for (task of notStartedTasks; track task.id) {
    <div
      class="p-3 rounded-lg text-gray-300 shadow-lg border-b border-slate-700 bg-card list-none cursor-pointer flex flex-col gap-2 hover:border-slate-600"
      routerLink="/projects/{{ project.id }}/tasks/{{ task.id }}"
      cdkDrag
    >
      <div class="flex justify-between items-center">
        <p class="text-sm">{{ task.description }}</p>
        <app-priority [priority]="task.priority" />
      </div>
      <div class="flex justify-between items-center gap-1">
        <span class="text-xs text-gray-400 flex items-center gap-1">
          <mat-icon class="text-base">schedule</mat-icon>
          {{ task.dueDate | date }}</span
        >
        @if (task.members && task.members.length) {
        <div class="flex items-center gap-1">
          @for (user of task.members.slice(0, 3); track user.username) {
          <app-profile-icon
            size="sm"
            [firstName]="user.firstName"
            [lastName]="user.lastName"
            [hover]="false"
          />
          } @if (task.members.length > 3) {
          <span class="text-xs text-gray-400"
            >+{{ task.members.length - 3 }}</span
          >
          }
        </div>
        }
      </div>
    </div>
    }
  </div>
  @if (project.status !== ProjectStatus.COMPLETED) {
  <button
    class="self-start flex gap-1 items-center text-sm hover:text-gray-500 transition-all w-full py-2"
    (click)="openAddCardDialog(TaskStatus.NOT_STARTED)"
  >
    <mat-icon class="text-base">add</mat-icon>
    {{ "task.drag-and-drop.ADD_BUTTON" | translate }}
  </button>
  }
</div>
}
