:host {
  background-color: var(--primary-light);

  main {
    @media (orientation: portrait) {
      background-size: cover;
    }

    @media (orientation: landscape) {
      background-size: contain;
    }

    @media (orientation: landscape) and (max-width: 1280px) {
      background-size: cover;
    }
  }
}

.dark {
  :host {
    background-color: var(--primary);
  }
}
