:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  main {
    @media (orientation: portrait) {
      background-size: cover;
    }

    @media (orientation: landscape) {
      background-size: contain;
    }
  }
}
