<form
  [formGroup]="form"
  class="flex flex-col gap-4 p-9 rounded-lg shadow-sm text-xs sm:text-base w-2/3 max-w-[600px] dark:bg-slate-800 bg-orange-200"
>
  <div class="flex flex-col gap-5">
    <div
      class="flex flex-col gap-3 border-b pb-5 border-orange-300 dark:border-slate-500"
    >
      <div class="flex flex-col gap-2">
        <input
          id="email"
          type="email"
          [formControl]="form.controls.email"
          [placeholder]="'loginForm.EMAIL_PLACEHOLDER' | translate"
          class="w-full p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-950 placeholder-slate-400"
        />
        @if (emailIsInvalid) {
        <p class="text-red-500 text-sm">
          {{ "loginForm.EMAIL_INVALID" | translate }}
        </p>
        }
      </div>
      <div class="flex flex-col gap-2">
        <input
          id="password"
          type="password"
          formControlName="password"
          [placeholder]="'loginForm.PASSWORD_PLACEHOLDER' | translate"
          class="w-full p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-950 placeholder-slate-400"
        />
        @if (passwordIsInvalid) {
        <p class="text-red-500 text-sm">
          {{ passwordErrors }}
        </p>
        }
      </div>
      <div class="flex justify-center">
        <app-form-button
          buttonType="submit"
          [disabled]="form.invalid || loading"
          (handleClick)="onSubmit()"
          roundedType="rounded-full"
        >
          @if (loading) {
          {{ "utils.LOADING" | translate }}
          } @else {
          {{ "loginForm.LOGIN_BUTTON" | translate }}
          }
        </app-form-button>
      </div>
    </div>
    <a
      routerLink="/auth/signup"
      class="text-xs text-sky-600 dark:text-sky-400 hover:text-sky-500 self-center focus:ring-2 focus:ring-sky-500 focus:outline-none w-auto px-1.5 py-0.5 focus:rounded-full"
      >{{ "loginForm.CREATE_ACCOUNT" | translate }}</a
    >
  </div>
</form>
