<div
  class="flex flex-col gap-2 rounded-xs bg-orange-200 px-4 py-3 shadow-lg dark:bg-slate-900"
>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <div
        class="text:slate-800 flex aspect-square size-10 items-center justify-center rounded-full bg-orange-100 dark:bg-slate-800 dark:text-slate-300"
      >
        <mat-icon>settings</mat-icon>
      </div>
      <p class="font-semibold">{{ "user.editForm.TITLE" | translate }}</p>
    </div>
    <button
      (click)="closeDialog()"
      class="flex items-center justify-center focus-visible:text-sky-300 focus-visible:ring-0 focus-visible:outline-hidden active:text-sky-500"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="flex flex-col gap-2 px-3 py-2">
    <div class="flex flex-col gap-3">
      <app-form-text-input-control
        identifier="first-name"
        [control]="form.controls.firstName"
        [placeholder]="'user.editForm.FIRST_NAME_PLACEHOLDER' | translate"
        [label]="'user.editForm.FIRST_NAME_LABEL' | translate"
        [errorMessage]="firstNameErrors"
      />
      <app-form-text-input-control
        identifier="last-name"
        [control]="form.controls.lastName"
        [placeholder]="'user.editForm.LAST_NAME_PLACEHOLDER' | translate"
        [label]="'user.editForm.LAST_NAME_LABEL' | translate"
        [errorMessage]="lastNameErrors"
      />
      <app-form-text-input-control
        identifier="email"
        type="email"
        [control]="form.controls.email"
        [placeholder]="'user.editForm.EMAIL_PLACEHOLDER' | translate"
        [label]="'user.editForm.EMAIL_LABEL' | translate"
        [errorMessage]="emailErrors"
      />
      <div class="flex flex-col gap-2">
        <app-form-checkbox-control
          identifier="change-password"
          [control]="form.controls.changePassword"
          [label]="'user.editForm.PASSWORD_LABEL' | translate"
        />
        @if (showPasswordFields) {
          <div class="flex flex-row gap-3">
            <app-form-text-input-control
              identifier="password"
              type="password"
              [control]="form.controls.passwords?.controls?.password!"
              [placeholder]="'user.editForm.PASSWORD_PLACEHOLDER' | translate"
            />
            <app-form-text-input-control
              identifier="confirm-password"
              type="password"
              [control]="form.controls.passwords?.controls?.confirmPassword!"
              [placeholder]="
                'user.editForm.CONFIRM_PASSWORD_PLACEHOLDER' | translate
              "
            />
          </div>
          <div class="flex flex-row gap-1">
            @if (passwordIsInvalid) {
              <p class="text-sm text-red-500">{{ passwordErrors }}</p>
            } @else if (!passwordIsInvalid && passwordsDoNotMatch) {
              <p class="text-sm text-red-500">
                {{ "user.editForm.PASSWORDS_DO_NOT_MATCH" | translate }}
              </p>
            }
          </div>
        }
      </div>
    </div>
    <div class="flex justify-between">
      <app-form-button
        type="reset"
        [disabled]="!hasFormChanged()"
        (handleClick)="onReset()"
      >
        {{ "user.editForm.RESET_BUTTON" | translate }}
      </app-form-button>
      <app-form-button [disabled]="disabled" (handleClick)="onSubmit()">
        {{ "user.editForm.SAVE_BUTTON" | translate }}
      </app-form-button>
    </div>
  </form>
</div>
