<div
  class="flex flex-col gap-2 rounded-xs bg-orange-200 px-4 py-3 shadow-lg dark:bg-slate-900"
>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <div
        class="text:slate-800 flex aspect-square size-10 items-center justify-center rounded-full bg-orange-100 dark:bg-slate-800 dark:text-slate-300"
      >
        <mat-icon>settings</mat-icon>
      </div>
      <p class="font-semibold">{{ "user.form.TITLE" | translate }}</p>
    </div>
    <button
      (click)="closeDialog()"
      class="focus-ring flex items-center justify-center rounded-full active:text-sky-500"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="flex flex-col gap-4 px-3 py-2">
    <div class="flex flex-col gap-1.5 sm:gap-3">
      <app-form-text-input-control
        identifier="first-name"
        [control]="form.controls.firstName"
        [placeholder]="'user.form.firstName.PLACEHOLDER' | translate"
        [label]="'user.form.firstName.LABEL' | translate"
      />
      <app-form-text-input-control
        identifier="last-name"
        [control]="form.controls.lastName"
        [placeholder]="'user.form.lastName.PLACEHOLDER' | translate"
        [label]="'user.form.lastName.LABEL' | translate"
      />
      <app-form-text-input-control
        identifier="email"
        type="email"
        [control]="form.controls.email"
        [placeholder]="'user.form.email.PLACEHOLDER' | translate"
        [label]="'user.form.email.LABEL' | translate"
      />
      <div class="flex flex-col gap-1.5">
        <app-form-checkbox-control
          identifier="change-password"
          [control]="form.controls.changePassword"
          [label]="'user.form.passwords.LABEL' | translate"
        />
        @if (showPasswordFields) {
          <div class="flex flex-col gap-1.5 sm:gap-3">
            <app-form-text-input-control
              identifier="password"
              type="password"
              [control]="form.controls.passwords?.controls?.password!"
              [placeholder]="'user.form.password.PLACEHOLDER' | translate"
            />
            <app-form-text-input-control
              identifier="confirm-password"
              type="password"
              [control]="form.controls.passwords?.controls?.confirmPassword!"
              [placeholder]="
                'user.form.confirmPassword.PLACEHOLDER' | translate
              "
            />
          </div>
        }
      </div>
    </div>
    <div class="flex justify-between">
      <app-form-button
        type="reset"
        [disabled]="!hasFormChanged()"
        (handleClick)="onReset()"
      >
        {{ "user.form.buttons.RESET" | translate }}
      </app-form-button>
      <app-form-button [disabled]="disabled" (handleClick)="onSubmit()">
        {{ "user.form.buttons.SAVE" | translate }}
      </app-form-button>
    </div>
  </form>
</div>
