<div class="flex flex-col p-4 bg-slate-800 rounded-lg">
  <button
    (click)="onClose()"
    class="self-end text-slate-100 hover:text-slate-300 transition-colors outline-none"
  >
    <mat-icon>close</mat-icon>
  </button>
  <div class="bg-slate-800 mt-4">
    <ul class="flex flex-col gap-1 overflow-y-scroll max-h-[400px]">
      @for (member of data.members; track member.username) {
      <li
        class="flex items-center p-2 hover:bg-slate-700 rounded cursor-pointer transition-colors"
        [routerLink]="['/users', member.username]"
        (click)="onClose()"
      >
        <div
          class="flex items-center justify-center w-8 h-8 bg-blue-600 text-white rounded-full mr-3"
        >
          {{ member.firstName.charAt(0) }}{{ member.lastName.charAt(0) }}
        </div>
        <span class="text-slate-100"
          >{{ member.firstName }} {{ member.lastName }}</span
        >
      </li>
      }
    </ul>
  </div>
</div>
