<div
  class="flex w-75 flex-col items-center justify-between gap-1 rounded-lg bg-orange-100 p-4 shadow-xs dark:bg-slate-900"
  [ngClass]="{
    'h-full': taskCount > 0,
    'h-fit': taskCount === 0,
  }"
>
  <div class="flex flex-col gap-1">
    <h2 class="text-base font-semibold sm:text-lg">
      {{ "dashboard.tasksSummary.TITLE" | translate }}
    </h2>
    @if (taskCount === 0) {
      <p
        class="text-center text-xs text-gray-700 sm:text-sm dark:text-gray-400"
      >
        {{ "dashboard.tasksSummary.NO_TASKS" | translate }}
      </p>
    }
  </div>
  @if (taskCount > 0) {
    <canvas
      baseChart
      type="bar"
      class="max-h-72"
      [data]="barChartData"
      [options]="barChartOptions"
    >
    </canvas>
  }
</div>
