<div
  class="flex h-full max-w-80 flex-1 flex-col items-center justify-between gap-1 rounded-lg bg-orange-100 p-4 shadow-xs dark:bg-slate-900"
>
  <div class="flex flex-col gap-1">
    <h2 class="text-lg font-semibold">
      {{ "dashboard.tasksSummary.TITLE" | translate }}
    </h2>
    @if (taskCount === 0) {
      <p class="text-center text-sm text-gray-700 dark:text-gray-400">
        {{ "dashboard.tasksSummary.NO_TASKS" | translate }}
      </p>
    }
  </div>
  @if (taskCount > 0) {
    <canvas
      baseChart
      type="bar"
      class="max-h-72"
      [data]="barChartData"
      [options]="barChartOptions"
    >
    </canvas>
  }
</div>
