<div
  class="flex aspect-square items-center justify-center rounded-full bg-sky-500 text-orange-100 transition-all focus:outline-none focus:ring-2 focus:ring-sky-500 active:text-slate-900 active:ring-0 dark:text-slate-950"
  [ngClass]="{
    'h-24 w-24 text-4xl': size === 'xl',
    'text-md h-9 w-9': size === 'lg',
    'h-7 w-7 text-sm': size === 'md',
    'h-6 w-6 text-xs': size === 'sm',
    'cursor-pointer hover:bg-sky-600': hover,
  }"
  [routerLink]="routerLink"
>
  {{ firstName.charAt(0) + lastName.charAt(0) }}
</div>
