<div
  class="bg-sky-500 rounded-full flex justify-center items-center aspect-square text-slate-950 transition-all focus:outline-none focus:ring-2 active:text-slate-900 focus:ring-sky-500 active:ring-0"
  [ngClass]="{
    'w-24 h-24 text-4xl': size === 'xl',
    'w-9 h-9 text-md': size === 'lg',
    'w-7 h-7 text-sm': size === 'md',
    'w-6 h-6 text-xs': size === 'sm',
    'hover:bg-sky-600 cursor-pointer': hover
  }"
  [routerLink]="routerLink"
>
  {{ firstName.charAt(0) + lastName.charAt(0) }}
</div>
