@if (users.length === 0) {
<p class="text-gray-500 text-center">
  {{ "task.assignees.EMPTY_ASSIGNEES_LIST" | translate }}
</p>
}
<ul class="flex flex-col text-sm gap-3">
  @for (user of users; track user.username) {
  <li
    class="flex justify-between items-center gap-1 text-slate-600 dark:text-slate-400"
  >
    <div class="flex gap-2 cursor-default focus:outline-none">
      <app-profile-icon
        size="lg"
        [firstName]="user.firstName"
        [lastName]="user.lastName"
        [hover]="false"
      />
      <p class="flex items-center gap-1">
        <span [class.text-sky-500]="isLoggedInUser(user.username)"
          >{{ user.firstName }} {{ user.lastName }}
        </span>
        <span class="text-slate-400 dark:text-slate-600">
          ({{
            isLoggedInUser(user.username)
              ? ("task.assignees.CURRENT_USER_AS_SEARCH_RESULT" | translate)
              : user.username
          }})
        </span>
      </p>
    </div>
    <button
      class="bg-gray-400 text-slate-950 flex justify-center items-center rounded-full p-0.5 hover:bg-gray-500 focus:ring-2 focus:ring-sky-950 focus:outline-none transition-all"
      (click)="onClick(user)"
    >
      <mat-icon class="text-base">{{ iconName }}</mat-icon>
    </button>
  </li>
  }
</ul>
