<div class="flex flex-col text-gray-400 gap-5">
  <div class="flex flex-row justify-between items-center">
    <h2 class="text-2xl font-semibold text-gray-100">
      {{ project.name }}
    </h2>
    <button
      class="mr-4 bg-pink-900 text-pink-200 hover:bg-pink-950 transition-all p-1 flex justify-center items-center rounded-full"
      (click)="handleDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="flex flex-col gap-2">
    <p>{{ project.description }}</p>
    <div class="grid sm:grid-cols-2 gap-1 sm:items-center sm:justify-center">
      <div class="flex-col gap-2 hidden sm:flex">
        <p>Project Leader:</p>
        <p>Members:</p>
        <p>Status:</p>
      </div>
      <div class="flex flex-col gap-2 text-slate-300">
        <p>{{ project.owner.firstName }} {{ project.owner.lastName }}</p>
        <div class="flex gap-3 items-center">
          <ul class="flex gap-1 justify-center items-center">
            <li
              *ngFor="let member of project.members | slice : 0 : 5"
              class="p-1 bg-slate-300 hover:bg-slate-400 text-slate-950 rounded-full aspect-square w-8 h-8 flex justify-center cursor-pointer items-center transition-all shadow-sm"
              [routerLink]="['/users', member.userName]"
            >
              {{ member.firstName.charAt(0) }}{{ member.lastName.charAt(0) }}
            </li>
            <li
              *ngIf="project.members.length > 5"
              class="font-semibold flex justify-center cursor-pointer items-center transition-colors text-xs text-gray-400 hover:text-gray-300"
              (click)="showMoreMembers()"
            >
              +{{ project.members.length - 5 }} more
            </li>
          </ul>
          @if (project.status !== Status.Completed) {
          <button
            class="flex p-1 bg-sky-500 rounded-full text-gray-100 hover:bg-sky-600 justify-center items-center"
            (click)="openSearchDialog()"
          >
            <mat-icon>add</mat-icon>
          </button>
          }
        </div>
        <div
          class="rounded-full flex items-center justify-center text-slate-900 font-semibold text-sm px-2 py-1 mr-auto"
          [ngClass]="{
            'bg-completed': project.status === Status.Completed,
            'bg-in-progress': project.status === Status.InProgress,
          }"
        >
          {{ project.status }}
        </div>
      </div>
    </div>
  </div>
</div>
