<div class="flex flex-col gap-2">
  <h3 class="text-center text-xl font-semibold"><ng-content /></h3>
  <ul class="grid gap-1.5 sm:grid-cols-2 lg:grid-cols-4">
    @for (project of userProjects; track project.id) {
      <li
        class="flex cursor-pointer flex-col justify-between gap-4 rounded-lg bg-orange-100 p-4 shadow-xs transition-all hover:bg-orange-200 focus-visible:bg-opacity-95 focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-sky-500 dark:bg-slate-900 dark:hover:bg-opacity-70"
        routerLink="/projects/{{ project.id }}"
      >
        <div class="flex h-full flex-col justify-between gap-2">
          <div class="flex flex-col gap-1">
            <h3
              class="flex flex-row items-center justify-between gap-1 text-lg font-semibold"
            >
              {{ project.name }}
              <span
                class="aspect-square h-[15px] rounded-full"
                [class.bg-sky-500]="project.status === ProjectStatus.COMPLETED"
                [class.bg-orange-400]="
                  project.status === ProjectStatus.IN_PROGRESS
                "
              >
              </span>
            </h3>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              {{ project.description }}
            </p>
          </div>
        </div>
      </li>
    }
  </ul>
</div>
