<div class="relative z-10 flex w-full">
  <app-form-text-input-control
    identifier="search-assignee"
    type="text"
    [control]="form"
    [placeholder]="'task.assignees.ASSIGNEE_INPUT_PLACEHOLDER' | translate"
    (input)="onSearch()"
    customClass="dark:bg-slate-950 bg-orange-200"
  />
  @if (loading) {
    <div class="absolute top-1/2 right-4 -translate-y-1/2">
      <mat-spinner diameter="20" />
    </div>
  }
</div>
<app-users-list
  iconName="person_add"
  [users]="searchResults"
  (handleClick)="handleAdd($event)"
/>
