<div
  class="relative z-10 flex w-full rounded-full border-none bg-orange-200 dark:bg-slate-950"
>
  <input
    [placeholder]="'task.assignees.ASSIGNEE_INPUT_PLACEHOLDER' | translate"
    [formControl]="form"
    (input)="onSearch()"
    class="w-full rounded-full border-none bg-orange-200 px-3 py-2 text-slate-700 placeholder-slate-500 focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:outline-hidden dark:bg-slate-950 dark:text-slate-300"
  />
  @if (loading) {
    <div class="absolute top-1/2 right-4 -translate-y-1/2">
      <mat-spinner diameter="20" />
    </div>
  }
</div>
<app-users-list
  iconName="person_add"
  [users]="searchResults"
  (handleClick)="handleAdd($event)"
/>
