<div class="flex flex-col gap-3 text-gray-500">
  <div class="flex gap-2 ml-auto bg-slate-950 px-3 py-1 rounded-full">
    @if (members.length !== 0) {
    <mat-icon
      class="cursor-pointer hover:text-sky-500 transition-all"
      [ngClass]="{ 'text-sky-500': showAssignees }"
      (click)="toggleShowAssignees()"
      >manage_accounts</mat-icon
    >
    }
    <mat-icon
      class="cursor-pointer hover:text-sky-500 transition-all"
      [ngClass]="{ 'text-sky-500': !showAssignees || members.length === 0 }"
      (click)="toggleShowAddAssignee()"
      >person_add</mat-icon
    >
  </div>
  @if (members.length !== 0) {
  <div class="flex flex-col gap-3">
    <div
      class="flex py-1 px-3 gap-2 items-center bg-slate-950 lg:mr-auto rounded-full border-slate-800 overflow-hidden placeholder-slate-400 text-sky-500"
      [ngClass]="{ hidden: !showAssignees }"
      (click)="focusSearchInput()"
    >
      <mat-icon>search</mat-icon>
      <input
        type="text"
        [formControl]="searchControl"
        placeholder="Search users"
        class="focus:outline-none focus:ring-0 bg-slate-950 placeholder:text-sky-900 text-sky-500"
        #searchInput
      />
    </div>
    <div
      class="flex flex-col gap-2"
      [@toggleDiv]="showAssignees ? 'show' : 'hide'"
    >
      <ul class="text-sm divide-y divide-slate-600">
        @for (user of paginatedUsers; track user.username) {
        <li class="flex justify-between items-center p-2 gap-1 text-slate-400">
          <div
            class="flex gap-2 cursor-pointer"
            routerLink="/users/{{ user.username }}"
          >
            <div
              class="bg-sky-500 text-sky-950 font-semibold p-2 rounded-full aspect-square h-10 flex justify-center items-center"
            >
              {{ user.firstName.charAt(0) + user.lastName.charAt(0) }}
            </div>
            <p class="flex items-center gap-1">
              {{ user.firstName }} {{ user.lastName }}
              <span class="text-slate-600">({{ user.username }})</span>
            </p>
          </div>
          <button
            class="bg-gray-500 text-sky-950 flex justify-center items-center rounded-full p-0.5 hover:bg-gray-600 transition-all"
            (click)="handleRemove(user)"
          >
            <mat-icon class="text-base">person_remove</mat-icon>
          </button>
        </li>
        }
      </ul>
      <mat-paginator
        [length]="filteredUsers.length"
        [pageSize]="pageSize"
        [pageIndex]="currentPage"
        (page)="pageChanged($event)"
      ></mat-paginator>
    </div>
  </div>
  }
  <div
    [@toggleDiv]="!showAssignees || members.length === 0 ? 'show' : 'hide'"
    class="px-3"
  >
    <app-search-add-to-task (onClick)="handleAdd($event)" />
  </div>
</div>
