<div class="flex flex-col gap-2 px-4 py-3 rounded-sm bg-slate-900">
  <div class="flex justify-between">
    <div class="flex gap-2 items-center">
      <div
        class="bg-slate-800 text-slate-300 flex justify-center items-center rounded-full w-[40px] h-[40px] aspect-square"
      >
        <mat-icon>folder_open</mat-icon>
      </div>
      <p class="font-semibold">Edit Project</p>
    </div>
    <button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="grid grid-cols-2 gap-2 bg-slate-900 p-2">
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="name">Title</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Enter project title"
        class="w-full"
      />
      @if (nameIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        Project name must contain between 2 and 50 characters.
      </p>
      }
    </div>

    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        formControlName="description"
        placeholder="Enter project description"
        class="w-full"
      />
      @if (descriptionIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        Project description must contain between 2 and 120 characters.
      </p>
      }
    </div>

    <div class="grid grid-cols-3 gap-2 col-span-2" formGroupName="dates">
      <label for="startDate">Start date</label>
      <input type="date" id="startDate" formControlName="startDate" />
    </div>

    <div class="grid grid-cols-3 gap-2 col-span-2" formGroupName="dates">
      <label for="endDate">End date</label>
      <input type="date" id="endDate" formControlName="endDate" />
      @if (endDateIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        End date cannot be earlier than the start date.
      </p>
      }
    </div>

    <div class="col-span-2 flex justify-end gap-2 mt-4">
      <button
        (click)="onReset()"
        class="px-4 py-2 bg-slate-900 flex justify-center items-center rounded-md text-slate-300"
      >
        <p class="text-xs">Reset</p>
      </button>
      <button
        (click)="onSubmit()"
        class="px-4 py-2 bg-sky-500 flex justify-center items-center rounded-lg text-sky-100"
      >
        <p class="text-xs">Save Changes</p>
      </button>
    </div>
  </form>
</div>
