@if (isLoading) {
<app-spinner />
} @else if (project()) {
<div class="flex flex-col gap-10 w-full">
  <app-project-information
    [project]="project()!"
    [handleDelete]="handleDelete.bind(this)"
    [handleComplete]="handleComplete.bind(this)"
  />
  <app-tasks [project]="project()!" [handleUpdate]="handleUpdate.bind(this)" />
</div>

<button
  class="fixed bottom-4 right-4 rounded-full bg-sky-500 h-10 flex items-center justify-center aspect-square hover:bg-sky-600 transition-all cursor-pointer shadow-sm text-white"
>
  <mat-icon>chat</mat-icon>
</button>
}
