<div
  class="xs:w-xs xs:right-4 xs:h-3/4 xs:max-h-150 xs:rounded-2xl xs:bottom-20 fixed right-0 bottom-0 z-40 flex h-full w-full origin-bottom-right flex-col overflow-hidden bg-orange-200 text-white shadow-lg lg:w-sm dark:bg-slate-950"
  [@chatAnimation]
>
  <div
    class="border-none bg-orange-200 p-4 text-center text-gray-700 dark:bg-slate-950 dark:text-gray-300"
  >
    <h2 class="text-lg font-semibold">{{ "utils.chat.TITLE" | translate }}</h2>
  </div>
  <div
    class="xs:pb-4 relative flex grow flex-col justify-between gap-3 overflow-hidden p-4 pb-16"
  >
    <div
      class="flex max-h-4/5 flex-col gap-4 overflow-y-auto px-4 py-3 drop-shadow-sm"
      #scroll
    >
      @for (message of messages; track message.id) {
        <div class="flex max-w-62.5 flex-col gap-1 lg:max-w-87.5">
          <div class="flex items-center gap-2">
            <app-profile-icon
              size="md"
              [firstName]="message.sender.firstName"
              [lastName]="message.sender.lastName"
              [hover]="false"
            />
            <div class="flex h-full flex-col">
              @if (message.sender.username === currentUser?.username) {
                <span class="text-sm font-semibold text-sky-600">You</span>
              } @else {
                <span class="text-sm text-sky-300"
                  >{{ message.sender.firstName }}
                  {{ message.sender.lastName }}</span
                >
              }
              <span class="text-xs text-gray-500">{{
                message.createdAt | customDate: dateFormat
              }}</span>
            </div>
          </div>
          <div class="text-sm break-words text-gray-600 dark:text-gray-200">
            {{ message.content }}
          </div>
        </div>
      }
    </div>
    <div
      class="chat-input relative flex h-12 items-center rounded-full bg-orange-200 px-4 py-3 text-gray-800 shadow-sm focus-within:ring-2 focus-within:ring-sky-500 dark:bg-slate-950 dark:text-gray-200"
    >
      @if (showEmojiPicker) {
        <div
          class="absolute right-0 bottom-12 z-50 bg-orange-200 shadow-2xl dark:bg-slate-950"
        >
          <emoji-mart
            [darkMode]="true"
            [showPreview]="false"
            [perLine]="5"
            color="#020617"
            [emojiSize]="30"
            [style]="{
              backgroundColor: 'transparent',
              border: 'none',
              borderRadius: ' 0.5rem',
            }"
            [i18n]="{
              search: 'Emoji...',
            }"
            (emojiClick)="addEmoji($event)"
          />
        </div>
      }
      <input
        type="text"
        [placeholder]="'utils.chat.PLACEHOLDER' | translate"
        class="grow bg-transparent text-sm outline-hidden placeholder:text-gray-500 disabled:cursor-not-allowed"
        [formControl]="form"
        (keydown.enter)="sendMessage()"
      />
      <button
        class="focus-ring-inset flex aspect-square h-8 w-8 items-center justify-center rounded-full text-gray-500 transition-all hover:text-gray-400 disabled:cursor-not-allowed"
        (click)="toggleEmojiPicker()"
        [disabled]="loading"
      >
        <mat-icon class="text-base">sentiment_satisfied_alt</mat-icon>
      </button>
      @if (form.value && form.value.length > 0) {
        <button
          @buttonAnimation
          class="focus-ring-inset xs:flex hidden aspect-square h-8 w-8 items-center justify-center rounded-full bg-orange-100 transition-all hover:bg-orange-300 disabled:cursor-not-allowed dark:bg-slate-900 dark:hover:bg-slate-800"
          [disabled]="loading"
          (click)="sendMessage()"
        >
          <mat-icon class="text-base text-gray-800 dark:text-gray-200"
            >north</mat-icon
          >
        </button>
      }
    </div>
  </div>
</div>
