<div
  class="bg-slate-950 text-white shadow-lg flex flex-col rounded-2xl overflow-hidden fixed bottom-20 right-4 h-full max-h-[600px] w-[300px] lg:w-[400px]"
>
  <div class="p-4 border-none chat-title text-center">
    <h2 class="text-lg font-semibold">{{ "chat.TITLE" | translate }}</h2>
  </div>
  <div
    class="flex flex-col gap-3 p-4 relative flex-grow justify-between overflow-hidden"
  >
    <div
      class="flex flex-col gap-3 px-4 py-3 overflow-y-scroll max-h-[80%]"
      #messageContainer
    >
      @for (message of messages; track message.id) {
      <div class="flex flex-col gap-1 max-w-[250px] lg:max-w-[350px]">
        <div class="flex gap-2 items-center">
          <div
            class="flex items-center justify-center w-[30px] h-[30px] aspect-square rounded-full bg-sky-950 text-white text-xs font-semibold"
          >
            {{ message.sender.firstName[0] }}{{ message.sender.lastName[0] }}
          </div>
          <div class="flex items-end gap-2">
            @if (message.sender.username === currentUser?.username) {
            <span class="text-sky-600 text-sm font-semibold">You</span>
            } @else {
            <span class="text-sky-300 text-sm"
              >{{ message.sender.firstName }}
              {{ message.sender.lastName }}</span
            >
            }
            <span class="text-gray-500 text-xs">{{
              message.createdAt | customDate : "medium"
            }}</span>
          </div>
        </div>
        <div
          class="text-sm break-words"
          [class.text-gray-300]="
            message.sender.username === currentUser?.username
          "
          [class.text-gray-100]="
            message.sender.username !== currentUser?.username
          "
        >
          {{ message.content }}
        </div>
      </div>
      }
    </div>
    <div
      class="flex items-center bg-slate-950 text-gray-200 shadow-lg border chat-input rounded-full focus-within:ring-2 focus-within:ring-slate-600 px-4 py-3 h-12 relative"
    >
      @if (showEmojiPicker) {
      <div class="absolute bottom-12 right-0 z-50">
        <emoji-mart
          [darkMode]="true"
          [showPreview]="false"
          [perLine]="5"
          color="#020617"
          [emojiSize]="30"
          [style]="{
            backgroundColor: '#020617',
            border: '1px solid #141a25',
            borderRadius: ' 0.5rem'
          }"
          [i18n]="{
              search: 'Emoji...',
            }"
          (emojiClick)="addEmoji($event)"
        ></emoji-mart>
      </div>
      }
      <input
        type="text"
        [placeholder]="'chat.INPUT_PLACEHOLDER' | translate"
        class="flex-1 bg-transparent text-sm focus:outline-none placeholder:text-gray-500 disabled:cursor-not-allowed"
        (input)="onTypeMessage($event)"
        [(ngModel)]="message"
        [disabled]="isLoading()"
        (keydown.enter)="sendMessage()"
      />
      <button
        class="flex justify-center items-center rounded-full w-8 h-8 aspect-square text-gray-500 hover:text-gray-400 transition-all disabled:cursor-not-allowed"
        (click)="toggleEmojiPicker()"
        [disabled]="isLoading()"
      >
        <mat-icon class="text-base">sentiment_satisfied_alt</mat-icon>
      </button>
      @if (message.length > 0) {
      <button
        @buttonAnimation
        class="focus:outline-none flex justify-center items-center bg-slate-900 rounded-full w-8 h-8 aspect-square hover:bg-slate-800 transition-all disabled:cursor-not-allowed"
        [disabled]="isLoading()"
        (click)="sendMessage()"
      >
        <mat-icon class="text-gray-200 text-base">north</mat-icon>
      </button>
      }
    </div>
  </div>
</div>
