@if (isLoading) {
<app-spinner />
} @else {
<div class="flex flex-col gap-6 w-2/3 mx-auto">
  <div class="flex justify-between">
    <h1 class="flex gap-2 text-xl font-semibold items-baseline">
      <span>Notifications</span>
      @if (notifications.length > 0) {
      <span
        class="flex justify-center items-center text-sm px-3 bg-sky-500 text-slate-950 rounded-lg"
        >{{ notifications.length }}</span
      >
      }
    </h1>
    @if (notifications.length > 0) {
    <button
      class="text-gray-400 text-sm hover:text-gray-500 transition-all"
      (click)="markAllAsRead()"
    >
      Mark all as read
    </button>
    }
  </div>
  @if (notifications.length > 0) {
  <app-notifications-list [notifications]="notifications" />
  } @else {
  <p class="text-gray-400">You are up to date</p>
  }
</div>
}
