<form
  class="flex w-fit flex-col justify-end gap-2.5 text-sm sm:flex-row"
  [formGroup]="form"
>
  <app-form-select-control
    identifier="status"
    [control]="form.controls.criteria"
    [label]="'projects.sort.SORT_CRITERIA_TEXT' | translate"
    [options]="criterias"
    customClass="px-2 py-1"
  />
  <app-form-select-control
    identifier="order"
    [control]="form.controls.order"
    [label]="'projects.sort.SORT_ORDER_TEXT' | translate"
    [options]="orders"
    customClass="px-2 py-1"
  />
</form>
