<div class="flex flex-col justify-end text-sm gap-2 sm:flex-row">
  <div class="flex gap-1.5 items-center text-gray-400">
    <label for="sort" class="hidden sm:block">{{
      "projects.sort.SORT_CRITERIA_TEXT" | translate
    }}</label>
    <select
      id="sort"
      class="bg-slate-900 px-2 py-1 rounded-full w-full sm:w-auto focus:outline-none focus:ring-2 active:text-sky-500 focus:ring-sky-500 active:ring-0"
      (change)="onSortCriteriaChange($event)"
      [(ngModel)]="sortCriteria"
    >
      @for (criteria of sortCriterias; track criteria) {
      <option [value]="criteria">
        {{ mapCriteria(criteria) }}
      </option>
      }
    </select>
  </div>
  <div class="flex gap-1.5 items-center text-gray-400">
    <label for="order" class="hidden sm:block">{{
      "projects.sort.SORT_ORDER_TEXT" | translate
    }}</label>
    <select
      id="order"
      class="bg-slate-900 px-2 py-1 rounded-full w-full sm:w-auto focus:outline-none focus:ring-2 active:text-sky-500 focus:ring-sky-500 active:ring-0"
      (change)="onSortOrderChange($event)"
      [(ngModel)]="sortOrder"
    >
      @for (order of sortOrders; track order) {
      <option [value]="order">
        {{ mapOrder(order) }}
      </option>
      }
    </select>
  </div>
</div>
