<div
  class="flex items-center gap-4 rounded-full bg-orange-200 px-4 py-2 dark:bg-slate-950"
>
  <select
    (change)="handlePageSizeChange($event)"
    [matTooltip]="'paginator.SELECT_INFO' | translate"
    class="border-none bg-transparent text-sky-700 outline-none dark:text-sky-300"
  >
    @for (option of pageSizeOptions; track option) {
      <option
        [value]="option"
        class="bg-orange-200 checked:text-sky-900 hover:bg-slate-950 active:bg-transparent dark:bg-slate-950 dark:checked:text-sky-500"
      >
        {{ option }}
      </option>
    }
  </select>
  <div class="flex items-center">
    <button
      (click)="handlePrev()"
      [disabled]="currentPage === 0"
      class="flex items-center justify-center text-sky-700 disabled:text-gray-500 dark:text-sky-500"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>
      {{ totalPages === 0 ? currentPage : currentPage + 1 }}
      {{ "paginator.PAGE_INFO" | translate }} {{ totalPages }}</span
    >
    <button
      (click)="handleNext()"
      [disabled]="currentPage === totalPages - 1 || totalPages === 0"
      class="flex items-center justify-center text-sky-700 disabled:text-gray-500 dark:text-sky-500"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
