<header class="shadow-sm flex items-center justify-between h-16">
  <div
    class="flex items-center h-full cursor-pointer px-4 py-2 focus:outline-none focus:ring-0 active:bg-transparent"
    routerLink="/"
  >
    <img src="/assets/images/logo.png" alt="ManageIt Logo" class="h-2/3" />
  </div>
  <div class="flex gap-4 sm:gap-10 h-full items-center">
    <button
      [matMenuTriggerFor]="languageMenu"
      class="flex items-center justify-center hover:text-sky-500 transition-all focus:rounded-full focus:outline-none focus:ring-2 active:text-sky-500 focus:ring-sky-500"
    >
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
      @for (language of languages; track language.code) {
      <button mat-menu-item (click)="changeLanguage(language.code)">
        <span [class.text-sky-500]="currentLanguage === language.code">{{
          languageText(language.labelKey)
        }}</span>
      </button>
      }
    </mat-menu>
    @if (isLoggedIn) {
    <div class="flex items-center justify-center mr-4">
      <button
        class="hover:text-sky-500 transition-all flex flex-row items-center gap-1.5 focus:outline-none focus:ring-2 active:text-sky-500 focus:ring-sky-500 focus:rounded-full p-1"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
        <p class="hidden sm:block">{{ "header.LOGOUT" | translate }}</p>
      </button>
    </div>
    } @else {
    <div
      class="hidden sm:flex space-x-4 text-zinc-300 h-full text-base font-bold"
    >
      <a
        routerLink="/auth/login"
        routerLinkActive="text-sky-500"
        class="hover:text-sky-500 transition-all self-center focus:outline-none focus:text-slate-400 focus:ring-2 focus:ring-sky-500 focus:rounded-full py-1 px-2"
        >{{ "header.LOGIN" | translate }}</a
      >
      <a
        routerLink="/auth/signup"
        routerLinkActive="text-sky-500"
        class="hover:text-sky-500 transition-all items-center bg-slate-900 h-full flex px-4 focus:outline-none focus:text-slate-400 focus:ring-0"
        >{{ "header.SIGN_UP_LONG" | translate }}</a
      >
    </div>
    <div class="block sm:hidden mr-4">
      <button
        class="flex justify-center items-center"
        [matMenuTriggerFor]="operationMenu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #operationMenu="matMenu">
        <button mat-menu-item routerLink="/auth/login">
          <mat-icon>login</mat-icon>
          <span>{{ "header.LOGIN" | translate }}</span>
        </button>
        <button mat-menu-item routerLink="/auth/signup">
          <mat-icon>person_add_alt</mat-icon>
          <span>{{ "header.SIGN_UP_SHORT" | translate }}</span>
        </button>
      </mat-menu>
    </div>
    }
  </div>
</header>
