<nav
  class="dark:bg-primary bg-primary-light fixed bottom-0 left-0 z-10 grid h-fit w-full grid-cols-1 justify-start gap-3 overflow-hidden px-2 shadow-xs lg:static lg:h-full lg:grid-rows-[auto_auto_1fr] lg:pt-2"
>
  <button
    (click)="toggleSidebar()"
    aria-label="Toggle sidebar"
    class="focus-ring-inset col-span-2 ml-3 hidden rounded-full bg-sky-600 text-slate-200 transition-all hover:bg-sky-600/90 xl:flex"
    [class.justify-self-end]="!isCollapsed"
    [class.justify-self-start]="isCollapsed"
  >
    <mat-icon>{{ isCollapsed ? "chevron_right" : "chevron_left" }}</mat-icon>
  </button>
  <div
    class="mx-auto grid grid-cols-5 items-center lg:mx-0 lg:grid-cols-1 lg:grid-rows-5 lg:gap-0.5"
  >
    <button
      class="sidebar focus-ring-inset items-center justify-center rounded-lg hover:bg-orange-100 dark:hover:bg-slate-900"
      (click)="openSearchDialog()"
    >
      <p class="sidebar-item">
        <mat-icon>search</mat-icon>
      </p>
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.SEARCH" | translate }}
      </p>
    </button>
    <button
      class="sidebar focus-ring-inset rounded-lg hover:bg-orange-100 dark:hover:bg-slate-900"
      routerLink="/dashboard"
      routerLinkActive="text-sky-500"
    >
      <p class="sidebar-item">
        <mat-icon>space_dashboard</mat-icon>
      </p>
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.DASHBOARD" | translate }}
      </p>
    </button>
    <button
      class="sidebar focus-ring-inset rounded-lg hover:bg-orange-100 dark:hover:bg-slate-900"
      routerLink="projects"
      routerLinkActive="text-sky-500"
    >
      <p class="sidebar-item">
        <mat-icon>folder_open</mat-icon>
      </p>
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.PROJECTS" | translate }}
      </p>
    </button>
    <button
      class="sidebar focus-ring-inset w-auto rounded-lg hover:bg-orange-100 dark:hover:bg-slate-900"
      routerLink="notifications"
      routerLinkActive="text-sky-500"
    >
      <p class="sidebar-item">
        <mat-icon>notifications</mat-icon>
      </p>
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.NOTIFICATIONS" | translate }}
      </p>
    </button>
    <button
      class="sidebar focus-ring-inset rounded-lg hover:bg-orange-100 dark:hover:bg-slate-900"
      routerLink="users"
      routerLinkActive="text-sky-500 profile-active"
    >
      @if (user) {
        <p
          class="profile-picture sidebar-item flex aspect-square h-6 w-6 items-center justify-center rounded-full bg-slate-900 text-xs text-slate-300 dark:bg-slate-300 dark:text-slate-950"
        >
          {{ user.firstName.charAt(0) + user.lastName.charAt(0) }}
        </p>
      } @else {
        <p class="sidebar-item">
          <mat-icon>account_circle</mat-icon>
        </p>
      }
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.PROFILE" | translate }}
      </p>
    </button>
  </div>
</nav>
