.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  cursor: pointer;
  padding: 0.75rem;

  @media (min-width: 1024px) {
    grid-template-columns: auto 1fr;
    justify-items: start;
  }

  &:hover {
    transition: all 0.3s;
    outline: none;
    color: var(--color-sky-600);

    .profile-picture {
      transition: all 0.3s;
      background-color: var(--color-sky-600);
    }
  }

  .sidebar-item {
    display: flex;
    align-items: center;

    &:nth-child(2) {
      height: 0;
    }

    @media (min-width: 1024px) {
      &:nth-child(2) {
        height: auto;
      }
    }
  }
}

.dark {
  .sidebar {
    &:hover {
      color: var(--color-sky-500);

      .profile-picture {
        background-color: var(--color-sky-500);
      }
    }
  }

  .profile-active {
    .profile-picture {
      background-color: var(--color-sky-500);
    }
  }
}

.profile-active {
  .profile-picture {
    background-color: var(--color-sky-600);
  }
}
