.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  cursor: pointer;
  padding: 0.75rem;

  @media (min-width: 1024px) {
    grid-template-columns: auto 1fr;
    justify-items: start;
  }

  &:hover {
    transition: all 0.3s;
    color: #0ea5e9;
    outline: none;

    .profile-picture {
      transition: all 0.3s;
      background-color: #0ea5e9;
    }
  }

  .sidebar-item {
    display: flex;
    align-items: center;

    &:nth-child(2) {
      height: 0;
    }

    @media (min-width: 1024px) {
      &:nth-child(2) {
        height: auto;
      }
    }
  }
}

.profile-active {
  .profile-picture {
    background-color: #0ea5e9;
  }
}
