<div class="flex flex-col gap-2 px-4 py-3 rounded-sm bg-slate-900">
  <div class="flex justify-between">
    <div class="flex gap-2 items-center">
      <div
        class="bg-slate-800 text-slate-300 flex justify-center items-center rounded-full w-[40px] h-[40px] aspect-square"
      >
        <mat-icon>edit_note</mat-icon>
      </div>
      <p class="font-semibold">Edit Task</p>
    </div>
    <button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="grid grid-cols-2 gap-2 bg-slate-900 p-2">
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="description">Description</label>
      <input
        id="description"
        type="text"
        formControlName="description"
        placeholder="Enter task description"
        class="w-full pl-0.5"
      />
      @if (descriptionIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        Description name must contain between 2 and 120 characters.
      </p>
      }
    </div>
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="dueDate">Due date</label>
      <input
        type="date"
        id="dueDate"
        formControlName="dueDate"
        class="w-full pl-0.5"
      />
      @if (dueDateIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">Due date is required.</p>
      }
    </div>
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="status">Status</label>
      <select
        id="status"
        formControlName="status"
        class="bg-transparent border-none text-slate-300 rounded-full placeholder-slate-500"
      >
        @for (status of statuses; track status) {
        <option [value]="status">
          {{ mapTaskStatus(status) }}
        </option>
        }
      </select>
    </div>
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="priority">Priority</label>
      <select
        id="priority"
        formControlName="priority"
        class="bg-transparent border-none text-slate-300 rounded-full placeholder-slate-500"
      >
        @for (priority of priorities; track priority) {
        <option [value]="priority">
          {{ mapPriority(priority) }}
        </option>
        }
      </select>
    </div>
    <div class="col-span-2 flex justify-end gap-2 mt-4">
      <button
        (click)="onReset()"
        class="px-4 py-2 bg-slate-900 flex justify-center items-center rounded-md text-slate-300"
      >
        <p class="text-xs">Reset</p>
      </button>
      <button
        [disabled]="disabled"
        (click)="onSubmit()"
        class="px-4 py-2 bg-sky-500 flex justify-center items-center rounded-lg text-sky-100 disabled:bg-gray-500 disabled:cursor-not-allowed"
      >
        <p class="text-xs">{{ isLoading ? "Saving..." : "Save changes" }}</p>
      </button>
    </div>
  </form>
</div>
