input,
select {
  border: none;
  color: #16181a;
  padding: 0.125rem;
  margin-right: auto;
  color-scheme: light;
  grid-column: span 2 / span 2;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #64748b;
  }
}

label {
  color: #34373b;
  grid-column: span 1 / span 1;
}

:host-context(.dark) {
  label {
    color: #94a3b8;
  }

  input,
  select {
    color: #cbd5e1;
    color-scheme: dark;
  }
}
