<div
  class="flex flex-col gap-2 rounded-xs bg-orange-200 px-4 py-3 shadow-lg dark:bg-slate-900"
>
  <div class="flex justify-between">
    <div class="flex items-center gap-2">
      <div
        class="text:slate-800 flex aspect-square size-10 items-center justify-center rounded-full bg-orange-100 dark:bg-slate-800 dark:text-slate-300"
      >
        <mat-icon>add_task</mat-icon>
      </div>
      <p class="font-semibold">{{ "task.createForm.TITLE" | translate }}</p>
    </div>
    <button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="flex flex-col gap-2 px-3 py-2">
    <app-form-text-input-control
      identifier="description"
      [control]="form.controls.description"
      [placeholder]="'task.createForm.DESCRIPTION_PLACEHOLDER' | translate"
      [errorMessage]="'task.createForm.DESCRIPTION_INVALID' | translate"
      [label]="'task.createForm.DESCRIPTION_LABEL' | translate"
    />
    <app-form-date-input-control
      identifier="due-date"
      [control]="form.controls.dueDate"
      [errorMessage]="'task.createForm.DUE_DATE_INVALID' | translate"
      [label]="'task.createForm.DUE_DATE_LABEL' | translate"
      [min]="getToday()"
    />
    <app-form-select-control
      identifier="priority"
      [control]="form.controls.priority"
      [label]="'task.createForm.PRIORITY_LABEL' | translate"
      [options]="priorities"
    />
    <div class="mt-4 flex flex-wrap justify-between gap-2">
      <app-form-button
        buttonType="reset"
        [disabled]="loading"
        (handleClick)="onReset()"
        roundedType="rounded-full"
      >
        {{ "task.createForm.RESET_BUTTON" | translate }}
      </app-form-button>
      <app-form-button
        buttonType="submit"
        [disabled]="form.invalid || loading"
        (handleClick)="onSubmit()"
        roundedType="rounded-full"
      >
        @if (loading) {
          {{ "utils.LOADING" | translate }}
        } @else {
          {{ "task.createForm.ADD_BUTTON" | translate }}
        }
      </app-form-button>
    </div>
  </form>
</div>
