@if (project) {
  <div class="flex flex-col gap-3 text-gray-700 dark:text-gray-400">
    <div class="flex flex-row items-center justify-between self-end">
      <app-project-menu />
    </div>
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-100">
      {{ project.name }}
    </h2>
    <div class="flex flex-col gap-2">
      <p class="text-break">{{ project.description }}</p>
      <div
        class="xs:items-center xs:justify-center xs:grid-cols-2 grid max-w-lg grid-cols-1 gap-2"
      >
        <p class="flex items-center gap-1">
          <mat-icon class="text-base">person</mat-icon>
          <span>{{ "project.details.LEADER" | translate }}</span>
        </p>
        <div
          class="text-break focus-outline line-clamp-1 cursor-pointer text-orange-900 hover:text-orange-950 dark:text-slate-300 dark:hover:text-slate-300/90"
          [routerLink]="'/users/' + project.owner.username"
        >
          {{ project.owner.firstName }} {{ project.owner.lastName }}
        </div>
        <p class="flex items-center gap-1">
          <mat-icon class="text-base">group</mat-icon>
          <span>{{ "project.details.MEMBERS" | translate }}</span>
        </p>
        <div class="flex items-center">
          <ul class="flex items-center justify-center gap-1">
            @for (
              member of project.members.slice(0, 5);
              track member.username
            ) {
              <app-profile-icon
                size="md"
                [firstName]="member.firstName"
                [lastName]="member.lastName"
                [routerLink]="'/users/' + member.username"
              />
            }
            @if (project.members.length > 5) {
              <p class="text-sky-500">+{{ project.members.length - 5 }}</p>
            }
            @if (project.status !== ProjectStatus.COMPLETED && isOwner) {
              <div
                class="ml-1.5 flex gap-0.5 rounded-full bg-orange-200 px-1.5 py-0.5 dark:bg-sky-950"
              >
                <button
                  class="flex items-center justify-center focus-visible:text-sky-500 focus-visible:outline-hidden active:text-sky-500"
                  (click)="showAllMembers()"
                >
                  <mat-icon
                    class="text-sky-900 transition-all hover:text-sky-950 dark:text-sky-600 dark:hover:text-sky-700"
                    >edit</mat-icon
                  >
                </button>
                <button
                  (click)="openSearchDialog()"
                  class="flex items-center justify-center focus-visible:text-sky-500 focus-visible:outline-hidden active:text-sky-500"
                >
                  <mat-icon
                    class="text-sky-700 transition-all hover:text-sky-800 dark:text-sky-200 dark:hover:text-sky-300"
                    >add</mat-icon
                  >
                </button>
              </div>
            }
          </ul>
        </div>
        <p class="flex items-center gap-1">
          <mat-icon class="text-base">task_alt</mat-icon>
          <span>{{ "project.details.STATUS" | translate }}</span>
        </p>
        <div
          class="flex w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-semibold text-slate-900"
          [class.bg-sky-500]="project.status === ProjectStatus.COMPLETED"
          [class.bg-orange-400]="project.status === ProjectStatus.IN_PROGRESS"
        >
          {{ mapProjectStatus() }}
        </div>
        <p class="flex items-center gap-1">
          <mat-icon class="text-base">schedule</mat-icon>
          <span>{{ "project.details.START_DATE" | translate }}</span>
        </p>
        <div class="text-orange-900 dark:text-slate-300">
          {{ project.startDate | date }}
        </div>
        <p class="flex items-center gap-1">
          <mat-icon class="text-base">alarm</mat-icon>
          <span>{{ "project.details.END_DATE" | translate }}</span>
        </p>
        <div class="text-orange-900 dark:text-slate-300">
          {{ project.endDate | date }}
        </div>
      </div>
    </div>
  </div>
}
<app-button
  textColor="text-sky-100"
  bgColor="bg-sky-500"
  hoverBgColor="hover:bg-sky-600"
  customClass="fixed bottom-4 right-4 z-50"
  [largeSize]="true"
  (handleClick)="toggleChat()"
>
  <mat-icon class="transition-transform" [class.rotate-180]="showChat">
    @if (showChat) {
      keyboard_arrow_up
    } @else {
      chat
    }
  </mat-icon>
</app-button>
@if (showChat) {
  <app-chat />
}
