<form [formGroup]="form">
  <div class="flex flex-col gap-2 sm:flex-row sm:gap-4">
    <button
      mat-icon-button
      [matMenuTriggerFor]="filterMenu"
      class="focus-ring flex items-center justify-center rounded-sm active:text-sky-500"
      aria-label="Filter projects menu"
    >
      <mat-icon>filter_list</mat-icon>
    </button>
    <div
      class="flex items-center gap-1 rounded-full bg-orange-200 px-2 py-1 focus-within:ring-2 focus-within:ring-sky-500 dark:bg-slate-900"
    >
      <label for="name" class="flex items-center">
        <mat-icon>search</mat-icon>
      </label>
      <app-form-text-input-control
        identifier="name"
        [control]="form.controls.name"
        [placeholder]="'projects.filter.INPUT_PLACEHOLDER' | translate"
        customClass="focus-visible:ring-0! p-0! border-none rounded-none"
      />
    </div>
  </div>
  <mat-menu #filterMenu="matMenu">
    <div
      matMenuContent
      class="flex flex-col gap-2 bg-orange-200 px-3 py-2 dark:bg-slate-900"
      (click)="$event.stopPropagation()"
      (keydown.enter)="$event.stopPropagation()"
      tabindex="0"
    >
      <div class="flex flex-col gap-3 rounded-md bg-transparent p-2">
        <app-form-radio-control
          identifier="project-filter-status"
          [label]="'projects.filter.MENU_STATUS_TEXT' | translate"
          [control]="form.controls.status"
          [options]="statuses"
        />
        <app-form-checkbox-control
          identifier="owner"
          [control]="form.controls.ownedByCurrentUser"
          [label]="'projects.filter.ONLY_LOGGED_USER_PROJECTS' | translate"
        />
      </div>
      <button (click)="onReset()" class="self-center px-2 py-1">
        {{ "projects.filter.CLEAR_BUTTON" | translate }}
      </button>
    </div>
  </mat-menu>
</form>
