<h2 class="font-bold text-6xl shadow-sm leading-[1.125]">
  Transform the Way You Work with Intuitive Project Management.
</h2>
<p class="text-slate-400 text-base">
  Discover a new level of productivity with our project management tool.
  Organize tasks, collaborate with your team, and track progress in real-time.
  Whether it's a small project or a large team, our intuitive interface and
  robust features will help you achieve your goals faster.
</p>
<button
  class="bg-sky-600 mx-auto px-4 py-3 text-sm font-medium text-slate-100 hover:bg-sky-700 transition-all rounded-full"
  routerLink="/auth/signup"
>
  Sign up - it's free!
</button>
