.icon-transition {
  transition: transform 0.3s ease-in-out;
}

.icon-rotate {
  transform: rotate(180deg);
}

.chat-enter {
  opacity: 0;
  transform: translateY(20px);
}

.chat-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.chat-leave {
  opacity: 1;
  transform: translateY(0);
}

.chat-leave-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
