@if (isLoading) {
<app-spinner />
} @else {
<div class="flex flex-col gap-10 w-full">
  <app-project-details />
  <app-tasks />
</div>

<button
  class="fixed bottom-4 right-4 rounded-full bg-sky-500 h-10 flex items-center justify-center aspect-square transition-all cursor-pointer shadow-sm text-white hover:scale-105"
  (click)="toggleChat()"
>
  <mat-icon class="icon-transition" [ngClass]="{ 'icon-rotate': showChat() }">
    @if (showChat()) { keyboard_arrow_up } @else { chat }
  </mat-icon>
</button>

@if (showChat()) {
<app-chat
  @chatAnimation
  [customPosition]="'fixed bottom-20 right-4 h-[80%] w-[300px] lg:w-[400px]'"
/>
} }
