<div
  class="flex flex-col gap-2 rounded-xs bg-orange-200 px-4 py-3 shadow-lg dark:bg-slate-900"
>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <div
        class="text:slate-800 flex aspect-square size-10 items-center justify-center rounded-full bg-orange-100 dark:bg-slate-800 dark:text-slate-300"
      >
        <mat-icon>edit_note</mat-icon>
      </div>
      <p class="font-semibold">{{ "task.editForm.TITLE" | translate }}</p>
    </div>
    <button
      (click)="closeDialog()"
      class="focus-ring flex h-fit items-center justify-center rounded-full active:text-sky-500"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="flex flex-col gap-2 px-3 py-2">
    <app-form-textarea-input-control
      identifier="description"
      [control]="form.controls.description"
      [placeholder]="'task.editForm.DESCRIPTION_PLACEHOLDER' | translate"
      [label]="'task.editForm.DESCRIPTION_LABEL' | translate"
      [errorMessage]="descriptionErrors"
      [maxLength]="500"
      customClass="!max-h-50"
    />
    <app-form-date-input-control
      identifier="due-date"
      [control]="form.controls.dueDate"
      [label]="'task.editForm.DUE_DATE_LABEL' | translate"
      [errorMessage]="dueDateErrors"
    />
    <app-form-select-control
      identifier="status"
      [control]="form.controls.status"
      [label]="'task.editForm.STATUS_LABEL' | translate"
      [options]="statuses"
    />
    <app-form-select-control
      identifier="priority"
      [control]="form.controls.priority"
      [label]="'task.editForm.PRIORITY_LABEL' | translate"
      [options]="priorities"
    />
    <div class="mt-4 flex flex-wrap justify-between gap-2">
      <app-form-button
        type="reset"
        [disabled]="loading"
        (handleClick)="onReset()"
      >
        {{ "task.editForm.RESET_BUTTON" | translate }}
      </app-form-button>
      <app-form-button [disabled]="disabled" (handleClick)="onSubmit()">
        @if (loading) {
          {{ "utils.LOADING" | translate }}
        } @else {
          {{ "task.editForm.SAVE_BUTTON" | translate }}
        }
      </app-form-button>
    </div>
  </form>
</div>
