<form
  [formGroup]="form"
  class="mx-4 flex w-full max-w-200 flex-col gap-4 rounded-lg bg-orange-200 p-9 text-xs shadow-xs sm:text-base dark:bg-slate-900"
>
  <div
    class="flex flex-col gap-3 border-b border-orange-300 pb-5 dark:border-slate-500"
  >
    <p
      class="text-center text-sm text-slate-700 sm:text-base dark:text-slate-300"
    >
      {{ "signupForm.TITLE" | translate }}
    </p>
    <div class="flex flex-col gap-3">
      <app-form-text-input-control
        identifier="first-name"
        [control]="form.controls.firstName"
        [placeholder]="'signupForm.firstName.PLACEHOLDER' | translate"
      />
      <app-form-text-input-control
        identifier="last-name"
        [control]="form.controls.lastName"
        [placeholder]="'signupForm.lastName.PLACEHOLDER' | translate"
      />
      <app-form-text-input-control
        identifier="user-name"
        [control]="form.controls.username"
        [placeholder]="'signupForm.username.PLACEHOLDER' | translate"
      >
        <span
          class="absolute top-1/2 right-3 flex -translate-y-1/2 transform items-center justify-center text-orange-400 dark:text-slate-600"
          [matTooltip]="'signupForm.username.TOOLTIP' | translate"
        >
          <mat-icon>lock</mat-icon>
        </span>
      </app-form-text-input-control>
      <app-form-text-input-control
        identifier="email"
        type="email"
        [control]="form.controls.email"
        [placeholder]="'signupForm.email.PLACEHOLDER' | translate"
      />
      <div class="flex flex-row gap-3">
        <app-form-text-input-control
          identifier="password"
          type="password"
          [control]="form.controls.passwords.controls.password"
          [placeholder]="'signupForm.password.PLACEHOLDER' | translate"
        />
        <app-form-text-input-control
          identifier="confirm-password"
          type="password"
          [control]="form.controls.passwords.controls.confirmPassword"
          [placeholder]="'signupForm.confirmPassword.PLACEHOLDER' | translate"
        />
      </div>
    </div>
    <div class="flex flex-row flex-wrap justify-between gap-2">
      <app-form-button
        type="reset"
        (handleClick)="onReset()"
        [disabled]="loading"
      >
        {{ "signupForm.buttons.RESET" | translate }}
      </app-form-button>
      <app-form-button
        (handleClick)="onSubmit()"
        [disabled]="form.invalid || loading"
      >
        @if (loading) {
          {{ "utils.LOADING" | translate }}
        } @else {
          {{ "signupForm.buttons.SIGN_UP" | translate }}
        }
      </app-form-button>
    </div>
  </div>
  <a
    routerLink="/auth/login"
    class="focus-ring w-fit self-center rounded-full px-1.5 py-0.5 text-xs text-sky-600 hover:text-sky-700 sm:text-sm dark:text-sky-400 dark:hover:text-sky-300"
    >{{ "signupForm.buttons.LOG_IN" | translate }}</a
  >
</form>
