<form
  [formGroup]="form"
  class="mx-4 flex max-w-200 flex-col gap-4 rounded-lg bg-orange-200 p-9 text-xs shadow-xs sm:w-2/3 sm:text-base dark:bg-slate-800"
>
  <div class="flex flex-col gap-5 border-b border-slate-500 pb-5">
    <p
      class="text-center text-sm text-slate-700 sm:text-base dark:text-slate-300"
    >
      {{ "signupForm.TITLE" | translate }}
    </p>
    <div class="flex flex-col gap-3">
      <app-form-text-input-control
        identifier="first-name"
        [control]="form.controls.firstName"
        [placeholder]="'signupForm.FIRST_NAME_PLACEHOLDER' | translate"
        [errorMessage]="firstNameErrors"
      />
      <app-form-text-input-control
        identifier="last-name"
        [control]="form.controls.lastName"
        [placeholder]="'signupForm.LAST_NAME_PLACEHOLDER' | translate"
        [errorMessage]="lastNameErrors"
      />
      <app-form-text-input-control
        identifier="user-name"
        [control]="form.controls.username"
        [placeholder]="'signupForm.USERNAME_PLACEHOLDER' | translate"
        [errorMessage]="usernameErrors"
      >
        <span
          class="absolute top-1/2 right-3 flex -translate-y-1/2 transform items-center justify-center text-orange-400 dark:text-slate-600"
          [matTooltip]="'signupForm.USERNAME_TOOLTIP' | translate"
        >
          <mat-icon>lock</mat-icon>
        </span>
      </app-form-text-input-control>
      <app-form-text-input-control
        identifier="email"
        type="email"
        [control]="form.controls.email"
        [placeholder]="'signupForm.EMAIL_PLACEHOLDER' | translate"
        [errorMessage]="emailErrors"
      />
      <div class="flex flex-col">
        <div class="flex flex-row gap-3">
          <app-form-text-input-control
            identifier="password"
            type="password"
            [control]="form.controls.passwords.controls.password"
            [placeholder]="'signupForm.PASSWORD_PLACEHOLDER' | translate"
          />
          <app-form-text-input-control
            identifier="confirm-password"
            type="password"
            [control]="form.controls.passwords.controls.confirmPassword"
            [placeholder]="
              'signupForm.CONFIRM_PASSWORD_PLACEHOLDER' | translate
            "
          />
        </div>
        <div class="flex flex-row gap-1">
          @if (passwordIsInvalid) {
            <p class="text-sm text-red-500">{{ passwordErrors }}</p>
          } @else if (!passwordIsInvalid && passwordsDoNotMatch) {
            <p class="text-sm text-red-500">
              {{ "signupForm.PASSWORDS_DO_NOT_MATCH" | translate }}
            </p>
          }
        </div>
      </div>
    </div>
    <div class="flex flex-row flex-wrap justify-between gap-2">
      <app-form-button
        buttonType="reset"
        (handleClick)="onReset()"
        [disabled]="loading"
        roundedType="rounded-full"
      >
        {{ "signupForm.RESET_BUTTON" | translate }}
      </app-form-button>
      <app-form-button
        buttonType="submit"
        (handleClick)="onSubmit()"
        roundedType="rounded-full"
        [disabled]="form.invalid || loading"
      >
        @if (loading) {
          {{ "utils.LOADING" | translate }}
        } @else {
          {{ "signupForm.SIGN_UP_BUTTON" | translate }}
        }
      </app-form-button>
    </div>
  </div>
  <a
    routerLink="/auth/login"
    class="w-fit self-center px-1.5 py-0.5 text-xs text-sky-600 hover:text-sky-700 focus-visible:rounded-full focus-visible:ring-2 focus-visible:ring-sky-500 focus-visible:outline-hidden sm:text-sm dark:text-sky-400 dark:hover:text-sky-300"
    >{{ "signupForm.ALREADY_HAVE_ACCOUNT" | translate }}</a
  >
</form>
