<div class="flex justify-between items-center title-bg">
  <h2 mat-dialog-title>Add New Card</h2>
  <button class="relative right-4" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <input
        id="description"
        type="text"
        formControlName="description"
        placeholder="Enter task description"
        class="w-full p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-950 placeholder-slate-600"
      />
      @if (descriptionIsInvalid) {
      <p class="text-red-500 text-sm">
        Description name must contain between 2 and 120 characters.
      </p>
      }
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex gap-2 items-center justify-center">
        <label for="dueDate" class="text-gray-400">Due date:</label>
        <input
          id="dueDate"
          type="date"
          formControlName="dueDate"
          class="p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-950"
        />
      </div>
      @if (dueDateIsInvalid) {
      <p class="text-red-500 text-sm">Due date is required.</p>
      }
    </div>
    <div class="flex flex-col gap-1">
      <select
        id="priority"
        formControlName="priority"
        class="w-full p-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-950"
      >
        <option value="" disabled>Select priority</option>
        @for (priority of priorities; track priority) {
        <option [value]="priority">
          {{ priority }}
        </option>
        }
      </select>
      @if (priorityIsInvalid) {
      <p class="text-red-500 text-sm">Priority is required.</p>
      }
    </div>
    <!-- <app-inline-search /> -->
    <div class="flex justify-end gap-2 mt-4">
      <button
        type="reset"
        class="px-1.5 py-1 bg-slate-900 flex justify-center items-center rounded-md text-slate-300"
      >
        <p class="text-xs">reset</p>
      </button>
      <button
        class="px-1.5 py-1 bg-sky-500 flex justify-center items-center rounded-md text-white"
      >
        <p class="text-xs">add</p>
      </button>
    </div>
  </form>
</mat-dialog-content>
