<div class="flex min-w-64 flex-col gap-1.5">
  <p class="self-center font-medium text-sky-500">
    {{ "dashboard.ongoingProjects.TITLE" | translate }}
  </p>
  @if (projects.length === 0) {
    <p class="text-center text-gray-400 drop-shadow-sm">
      {{ "dashboard.ongoingProjects.NO_PROJECTS" | translate }}
    </p>
  }
  @for (project of projects; track project.id) {
    <div
      class="flex cursor-pointer flex-col rounded-lg bg-orange-100 p-4 shadow-xs transition-all hover:bg-orange-200 focus-visible:ring-2 focus-visible:ring-sky-500 focus-visible:outline-hidden dark:bg-slate-900 dark:hover:bg-slate-900/70"
      routerLink="/projects/{{ project.id }}"
    >
      <h3 class="text-lg font-semibold">{{ project.name }}</h3>
      <div class="flex flex-col gap-2">
        @if (project.totalTasks === 0) {
          <p class="text-sm text-gray-400">
            {{ "dashboard.ongoingProjects.NO_TASKS" | translate }}
          </p>
        } @else {
          <p class="text-sm text-gray-600 dark:text-gray-400">
            {{ "dashboard.ongoingProjects.COMPLETED_TASKS_TEXT" | translate }}
            {{ project.completedTasks }} /
            {{ project.totalTasks }}
          </p>
          <div class="h-4 w-full rounded-full bg-zinc-300">
            <div
              class="h-4 rounded-full bg-sky-600"
              [style.width.%]="
                (project.completedTasks / project.totalTasks) * 100
              "
            ></div>
          </div>
        }
      </div>
    </div>
  }
</div>
