<div class="flex w-full flex-1 flex-col gap-1.5 lg:max-w-80">
  <p class="self-center font-medium text-sky-500">
    {{ "dashboard.ongoingProjects.TITLE" | translate }}
  </p>
  @if (projects.length === 0) {
    <p class="text-center text-gray-400 drop-shadow-sm">
      {{ "dashboard.ongoingProjects.NO_PROJECTS" | translate }}
    </p>
  }
  @for (project of projects; track project.id) {
    <button
      class="focus-ring flex min-h-25 cursor-pointer flex-col justify-between gap-2 rounded-lg bg-orange-100 p-4 text-left shadow-xs transition-all hover:bg-orange-200 sm:min-h-30 dark:bg-slate-900 dark:hover:bg-slate-900/70"
      routerLink="/projects/{{ project.id }}"
    >
      <h3 class="text-break line-clamp-2 text-base font-semibold sm:text-lg">
        {{ project.name }}
      </h3>
      <div class="flex flex-col gap-1">
        @if (project.totalTasks === 0) {
          <p class="text-xs text-gray-400 sm:text-sm">
            {{ "dashboard.ongoingProjects.NO_TASKS" | translate }}
          </p>
        } @else {
          <p class="text-xs text-gray-600 sm:text-sm dark:text-gray-400">
            {{ "dashboard.ongoingProjects.COMPLETED_TASKS" | translate }}:
            {{ project.completedTasks }} /
            {{ project.totalTasks }}
          </p>
          <div class="h-3 w-full rounded-full bg-zinc-300 sm:h-4">
            <div
              class="h-3 rounded-full bg-sky-600 sm:h-4"
              [style.width.%]="
                (project.completedTasks / project.totalTasks) * 100
              "
            ></div>
          </div>
        }
      </div>
    </button>
  }
</div>
