<div class="flex h-full flex-col items-end gap-5 text-slate-600">
  <app-button
    bgColor="bg-slate-400"
    textColor="text-slate-900"
    hoverBgColor="hover:bg-slate-500"
    (handleClick)="handleGoBack()"
  >
    <mat-icon>arrow_back</mat-icon>
  </app-button>
  <div class="flex items-center gap-2 self-center">
    <div
      class="flex aspect-square size-10 items-center justify-center rounded-full bg-slate-800 text-slate-300"
    >
      <mat-icon>create_new_folder</mat-icon>
    </div>
    @if (isEditing) {
      <p class="font-semibold">{{ "project.form.EDIT_TITLE" | translate }}</p>
    } @else {
      <p class="font-semibold">{{ "project.form.CREATE_TITLE" | translate }}</p>
    }
  </div>
  <form
    [formGroup]="form"
    class="flex w-full flex-col gap-2 self-center p-2 lg:max-w-xl"
  >
    <app-form-text-input-control
      identifier="name"
      [control]="form.controls.name"
      [placeholder]="'project.form.NAME_PLACEHOLDER' | translate"
      [label]="'project.form.NAME_LABEL' | translate"
      [errorMessage]="nameErrors"
    />
    <app-form-text-input-control
      identifier="description"
      [control]="form.controls.description"
      [placeholder]="'project.form.DESCRIPTION_PLACEHOLDER' | translate"
      [label]="'project.form.DESCRIPTION_LABEL' | translate"
      [errorMessage]="descriptionErrors"
    />
    <app-form-date-input-control
      identifier="start-date"
      [control]="form.controls.dates.controls.startDate"
      [label]="'project.form.START_DATE_LABEL' | translate"
      [errorMessage]="startDateErrors"
      [min]="minDate"
    />
    <app-form-date-input-control
      identifier="end-date"
      [control]="form.controls.dates.controls.endDate"
      [label]="'project.form.END_DATE_LABEL' | translate"
      [errorMessage]="endDateErrors"
      [min]="minDate"
      [customIsInvalid]="endDateIsInvalid"
    />
    <div class="mt-2 flex justify-between gap-2">
      <app-form-button
        type="reset"
        [disabled]="loading"
        (handleClick)="onReset()"
        >{{ "project.form.RESET_BUTTON" | translate }}</app-form-button
      >
      <app-form-button [disabled]="disabled" (handleClick)="onSubmit()">
        @if (loading) {
          {{ "utils.LOADING" | translate }}
        } @else if (isEditing) {
          {{ "project.form.SAVE_BUTTON" | translate }}
        } @else {
          {{ "project.form.CREATE_BUTTON" | translate }}
        }
      </app-form-button>
    </div>
  </form>
</div>
