<div class="flex flex-col gap-2">
  <div class="flex justify-between">
    <div class="flex gap-2 items-center">
      <div
        class="bg-slate-800 text-slate-300 flex justify-center items-center rounded-full w-[40px] h-[40px] aspect-square"
      >
        <mat-icon>create_new_folder</mat-icon>
      </div>
      @if (isEditing) {
      <p class="font-semibold">{{ "project.form.EDIT_TITLE" | translate }}</p>
      } @else {
      <p class="font-semibold">{{ "project.form.CREATE_TITLE" | translate }}</p>
      }
    </div>
  </div>
  <form [formGroup]="form" class="grid grid-cols-2 gap-2 p-2">
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="name">{{ "project.form.NAME_LABEL" | translate }}</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        [placeholder]="'project.form.NAME_PLACEHOLDER' | translate"
        class="w-full"
      />
      @if (nameIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        {{ "project.form.NAME_INVALID" | translate }}
      </p>
      }
    </div>

    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="description">{{
        "project.form.DESCRIPTION_LABEL" | translate
      }}</label>
      <input
        type="text"
        id="description"
        formControlName="description"
        [placeholder]="'project.form.DESCRIPTION_PLACEHOLDER' | translate"
        class="w-full"
      />
      @if (descriptionIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        {{ "project.form.DESCRIPTION_INVALID" | translate }}
      </p>
      }
    </div>
    <div class="grid grid-cols-3 gap-2 col-span-2" formGroupName="dates">
      <label for="startDate">{{
        "project.form.START_DATE_LABEL" | translate
      }}</label>
      <input
        type="date"
        id="startDate"
        formControlName="startDate"
        [min]="minDate()"
      />
      @if (startDateIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        @if (isEditing) {
        {{ "project.form.EDIT_START_DATE_INVALID" | translate }}
        } @else {
        {{ "project.form.CREATE_START_DATE_INVALID" | translate }}
        }
      </p>
      }
    </div>

    <div class="grid grid-cols-3 gap-2 col-span-2" formGroupName="dates">
      <label for="endDate">{{
        "project.form.END_DATE_LABEL" | translate
      }}</label>
      <input
        type="date"
        id="endDate"
        formControlName="endDate"
        [min]="minDate()"
      />
      @if (endDateIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        {{ "project.form.END_DATE_INVALID" | translate }}
      </p>
      }
    </div>

    <div class="col-span-2 flex justify-end gap-2 mt-4">
      <app-form-button buttonType="reset" [disabled]="loading">{{
        "project.form.RESET_BUTTON" | translate
      }}</app-form-button>
      <app-form-button
        buttonType="submit"
        [disabled]="disabled"
        (handleClick)="onSubmit()"
      >
        @if (loading) {
        {{ "utils.LOADING" | translate }}
        } @else if (isEditing) {
        {{ "project.form.SAVE_BUTTON" | translate }}
        } @else {
        {{ "project.form.CREATE_BUTTON" | translate }}
        }
      </app-form-button>
    </div>
  </form>
</div>
