<div class="flex h-full flex-col items-end gap-5 text-slate-600">
  <app-button
    bgColor="bg-slate-400"
    textColor="text-slate-900"
    hoverBgColor="hover:bg-slate-500"
    (handleClick)="handleGoBack()"
  >
    <mat-icon>arrow_back</mat-icon>
  </app-button>
  <div class="flex items-center gap-2 self-center">
    <div
      class="flex aspect-square size-10 items-center justify-center rounded-full bg-slate-800 text-slate-300"
    >
      <mat-icon>create_new_folder</mat-icon>
    </div>
    @if (isEditing) {
      <p class="font-semibold">{{ "project.form.title.EDIT" | translate }}</p>
    } @else {
      <p class="font-semibold">{{ "project.form.title.CREATE" | translate }}</p>
    }
  </div>
  <form
    [formGroup]="form"
    class="flex w-full flex-col gap-2 self-center p-2 lg:max-w-xl"
  >
    <app-form-text-input-control
      identifier="name"
      [control]="form.controls.name"
      [placeholder]="'project.form.name.PLACEHOLDER' | translate"
      [label]="'project.form.name.LABEL' | translate"
    />
    <app-form-textarea-input-control
      identifier="description"
      [control]="form.controls.description"
      [placeholder]="'project.form.description.PLACEHOLDER' | translate"
      [label]="'project.form.description.LABEL' | translate"
      [maxLength]="1000"
    />
    <app-form-date-input-control
      identifier="end-date"
      [control]="form.controls.endDate"
      [label]="'project.form.endDate.LABEL' | translate"
      [min]="minEndDate"
    />
    <div class="mt-2 flex justify-between gap-2">
      <app-form-button
        type="reset"
        [disabled]="loading"
        (handleClick)="onReset()"
        >{{ "project.form.buttons.RESET" | translate }}</app-form-button
      >
      <app-form-button [disabled]="disabled" (handleClick)="onSubmit()">
        @if (loading) {
          {{ "utils.LOADING" | translate }}
        } @else if (isEditing) {
          {{ "project.form.buttons.SAVE" | translate }}
        } @else {
          {{ "project.form.buttons.CREATE" | translate }}
        }
      </app-form-button>
    </div>
  </form>
</div>
