<mat-dialog-content>
  <div class="flex items-center gap-2">
    <label for="search-input" class="flex items-center">
      <mat-icon
        class="flex cursor-text items-center justify-center text-slate-600! dark:text-slate-300"
        >search</mat-icon
      >
    </label>
    <app-form-text-input-control
      identifier="search-input"
      [control]="form"
      [placeholder]="'searchModal.PLACEHOLDER' | translate"
      customClass="focus-visible:ring-0! p-0! border-none rounded-none"
      (input)="onSearch()"
    />
    @if (loading) {
      <mat-spinner diameter="20" />
    }
    <button
      (click)="handleClose()"
      class="focus-ring flex items-center justify-center rounded-md bg-orange-100 px-1.5 py-1 text-slate-800 dark:bg-slate-500 dark:text-slate-300"
    >
      <p class="text-xs">{{ "searchModal.CLOSE_BUTTON" | translate }}</p>
    </button>
  </div>
</mat-dialog-content>
@if (searchResults.length > 0) {
  <ul
    class="search-results flex flex-col divide-y divide-orange-300 pb-4 dark:divide-slate-600"
  >
    @for (result of searchResults; track result.username) {
      <li class="text-slate-500">
        <button
          class="focus-ring-inset flex w-full cursor-pointer items-center gap-2 rounded-full px-4 py-2 text-left text-sm sm:px-6 sm:py-4 dark:text-slate-400"
          (click)="handleClick(result.username)"
        >
          <span class="text-break line-clamp-1"
            >{{ result.firstName }} {{ result.lastName }}</span
          >
          @if (isLoggedInUser(result.username)) {
            <span class="text-slate-600">{{
              "searchModal.CURRENT_USER_AS_RESULT" | translate
            }}</span>
          }
        </button>
      </li>
    }
  </ul>
}
