:host {
  display: flex;
  flex-direction: column;
  background-color: #fed7aa;
}

.search-results li {
  &:first-child {
    border-top: 1px solid #fdba74;
  }

  &:last-child {
    border-bottom: 1px solid #fdba74;
  }

  &:hover,
  &:focus {
    background-color: #eecaa4;
  }
}

:host-context(.dark) {
  :host {
    background-color: #1e293b;
  }

  .search-results li {
    &:first-child {
      border-top: 1px solid #475569;
    }

    &:last-child {
      border-bottom: 1px solid #475569;
    }

    &:hover,
    &:focus {
      background-color: #25324781;
    }
  }
}
