:host {
  display: flex;
  flex-direction: column;
  background-color: var(--color-orange-200);
}

.search-results li {
  &:first-child {
    border-top: 1px solid var(--color-orange-300);
  }

  &:last-child {
    border-bottom: 1px solid var(--color-orange-300);
  }
}

:host-context(.dark) {
  :host {
    background-color: var(--color-slate-800);
  }

  .search-results li {
    &:first-child {
      border-top: 1px solid var(--color-slate-700);
    }

    &:last-child {
      border-bottom: 1px solid var(--color-slate-700);
    }
  }
}
