@if (isModalOpen) {
<app-confirm-modal />
}
<div class="flex flex-col gap-10 w-full px-4">
  <div class="flex flex-col-reverse gap-2 items-end">
    <app-button
      bgColor="bg-slate-400"
      textColor="text-slate-900"
      hoverBgColor="hover:bg-slate-500"
      (handleClick)="handleGoBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </app-button>
    <div class="flex gap-2">
      <app-button
        bgColor="bg-sky-300"
        textColor="text-slate-900"
        hoverBgColor="hover:bg-sky-400"
        (handleClick)="handleEdit()"
      >
        <mat-icon>edit</mat-icon>
      </app-button>
      <app-button
        bgColor="bg-pink-900"
        textColor="text-pink-200"
        hoverBgColor="hover:bg-pink-950"
        (handleClick)="handleDelete()"
      >
        <mat-icon>delete</mat-icon>
      </app-button>
    </div>
  </div>
  <div class="flex flex-col justify-between">
    <app-task-details />
    <app-task-assignees />
  </div>
</div>
<app-button
  textColor="text-sky-100"
  bgColor="bg-sky-500"
  hoverBgColor="hover:bg-sky-600"
  customClass="fixed bottom-4 right-4"
  [largeSize]="true"
  (handleClick)="toggleChat()"
>
  <mat-icon class="transition-transform" [class.rotate-180]="showChat()">
    @if (showChat()) { keyboard_arrow_up } @else { chat }
  </mat-icon>
</app-button>
@if (showChat()) {
<app-chat @chatAnimation [isTaskChat]="true" />
}
