@if (user) {
  <div class="flex flex-col items-center gap-3 text-center">
    <div
      class="flex h-24 w-24 items-center justify-center rounded-full bg-blue-500 text-white"
    >
      <app-profile-icon
        size="xl"
        [firstName]="user.firstName"
        [lastName]="user.lastName"
        [hover]="false"
      />
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col">
        <h2 class="text-break text-xl font-semibold sm:text-2xl">
          {{ user.firstName }} {{ user.lastName }}
        </h2>
        <p
          class="text-break text-xs text-gray-600 sm:text-sm dark:text-gray-400"
        >
          {{ "@" + user.username }}
        </p>
      </div>
      <p
        class="flex items-center justify-center gap-1 text-xs text-gray-600 sm:text-sm dark:text-gray-400"
      >
        <mat-icon class="text-md sm:text-lg">calendar_month</mat-icon>
        <span>
          {{ "user.profile.CREATE_DATE" | translate }}
          {{ user.createdAt | customDate: "d MMMM y" }}</span
        >
      </p>
    </div>
  </div>
}
