@if (user) {
  <div class="flex flex-col items-center gap-3 text-center">
    <div
      class="flex h-24 w-24 items-center justify-center rounded-full bg-blue-500 text-white"
    >
      <app-profile-icon
        size="xl"
        [firstName]="user.firstName"
        [lastName]="user.lastName"
        [hover]="false"
      />
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col">
        <h2 class="text-break text-2xl font-semibold">
          {{ user.firstName }} {{ user.lastName }}
        </h2>
        <p class="text-break text-sm text-gray-600 dark:text-gray-400">
          {{ "@" + user.username }}
        </p>
      </div>
      <p
        class="flex items-center justify-center gap-1 text-sm text-gray-600 dark:text-gray-400"
      >
        <mat-icon class="text-lg">calendar_month</mat-icon>
        <span
          >{{ "user.profile.JOINED_TEXT" | translate }}
          {{ user.createdAt | date }}</span
        >
      </p>
    </div>
  </div>
}
