@if (notifications.length === 0) {
  <p class="text-gray-400">
    {{ "notifications.NO_NOTIFICATIONS" | translate }}
  </p>
}

<div class="flex flex-col gap-3" role="list">
  @for (notification of notifications; track notification.id) {
    <button
      class="focus-ring mr-auto flex cursor-pointer items-center gap-3 rounded-full px-5 py-1 hover:bg-slate-950/25"
      role="listitem"
      (click)="markAsReadAndOpen(notification)"
    >
      <app-profile-icon
        size="lg"
        [hover]="false"
        [firstName]="notification.user.firstName"
        [lastName]="notification.user.lastName"
      />
      <div class="flex flex-col gap-1 text-sm">
        <p>
          <span class="font-semibold text-sky-700 dark:text-sky-500">{{
            notification.user.firstName + " " + notification.user.lastName + " "
          }}</span>
          <span class="font-light">{{
            localeMessage(notification.message)
          }}</span>
        </p>
        <p class="text-left text-gray-600 dark:text-gray-400">
          {{ notification.date | timeAgo }}
        </p>
      </div>
    </button>
  }
</div>
