<div
  class="flex flex-col items-center justify-between gap-2 text-sm lg:flex-row"
>
  <app-projects-filter
    (filterChange)="onFilterChange($event)"
    [filterName]="filterName"
    [filterStatus]="filterStatus"
    [filterOwnedByCurrentUser]="filterOwnedByCurrentUser"
  />
  <app-projects-sort
    (sortChange)="onSortChange($event)"
    [sortCriteria]="sortCriteria"
    [sortOrder]="sortOrder"
  />
</div>
@if (sortedAndFilteredProjects.length === 0) {
  <p class="w-full text-center text-gray-400">
    {{ "projects.list.NO_PROJECTS" | translate }}
  </p>
}
<div
  class="max-w-page-content-container grid grid-cols-1 gap-1.5 sm:grid-cols-2 lg:grid-cols-3"
>
  @for (project of sortedAndFilteredProjects; track project.id) {
    <button
      class="focus-ring flex min-w-70 flex-1 cursor-pointer flex-col justify-between gap-4 rounded-lg bg-orange-100 p-4 text-left shadow-xs transition-all hover:bg-orange-200 active:bg-orange-100/70 dark:bg-slate-900 dark:hover:bg-slate-900/70 dark:active:bg-slate-900/70"
      routerLink="/projects/{{ project.id }}"
    >
      <div class="flex h-full flex-col justify-between gap-2">
        <div class="flex flex-col gap-1">
          <h3 class="flex flex-row items-center justify-between font-semibold">
            <span class="text-break line-clamp-2 text-base sm:text-lg">
              {{ project.name }}
            </span>
            <span
              class="size-3.75 shrink-0 self-start rounded-full"
              [class.bg-sky-500]="project.status === ProjectStatus.COMPLETED"
              [class.bg-orange-400]="
                project.status === ProjectStatus.IN_PROGRESS
              "
            >
            </span>
          </h3>
          <p
            class="text-break line-clamp-2 text-xs text-gray-600 sm:text-sm dark:text-gray-400"
          >
            {{ project.description }}
          </p>
        </div>
        <div
          class="grid grid-cols-[auto_1fr] gap-x-4 rounded-lg bg-orange-200/30 px-1.5 py-0.5 text-xs text-gray-700 sm:px-2 sm:py-1 sm:text-sm dark:bg-slate-950 dark:text-gray-400"
        >
          <span>{{ "projects.list.CREATED_AT" | translate }}:</span>
          <span class="text-sky-600 dark:text-sky-500">
            {{ project.createdAt | customDate }}
          </span>
          <span>{{ "projects.list.DEADLINE" | translate }}:</span>
          <span class="text-pink-600 dark:text-pink-500">
            {{ project.endDate | customDate }}
          </span>
        </div>
      </div>
      @if (project.completedTasks !== 0 && project.totalTasks !== 0) {
        <div class="relative h-4 w-full rounded-full bg-zinc-300 sm:h-5">
          <div
            class="h-4 rounded-full bg-sky-600 sm:h-5"
            [style.width.%]="
              (project.completedTasks / project.totalTasks) * 100
            "
          ></div>
          <span
            class="absolute inset-0 flex items-center justify-center text-xs text-zinc-950"
          >
            {{
              (project.completedTasks / project.totalTasks) * 100
                | number: "1.0-0"
            }}% {{ "projects.list.COMPLETED_PERCENTAGE" | translate }}
          </span>
        </div>
      } @else {
        <p class="text-xs text-gray-500 sm:text-sm dark:text-gray-400">
          {{ "projects.list.NO_TASKS" | translate }}
        </p>
      }
    </button>
  }
</div>
