<div class="flex flex-col gap-2 px-4 py-3 rounded-sm bg-slate-900">
  <div class="flex justify-between">
    <div class="flex gap-2 items-center">
      <div
        class="bg-slate-800 text-slate-300 flex justify-center items-center rounded-full w-[40px] h-[40px] aspect-square"
      >
        <mat-icon>add_task</mat-icon>
      </div>
      <p class="font-semibold">{{ "task.createForm.TITLE" | translate }}</p>
    </div>
    <button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="grid grid-cols-2 gap-2 bg-slate-900 p-2">
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="description">{{
        "task.createForm.DESCRIPTION_LABEL" | translate
      }}</label>
      <input
        type="text"
        id="description"
        formControlName="description"
        [placeholder]="'task.createForm.DESCRIPTION_PLACEHOLDER' | translate"
        class="w-full"
      />
      @if (descriptionIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        {{ "task.createForm.DESCRIPTION_INVALID" | translate }}
      </p>
      }
    </div>
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="startDate">{{
        "task.createForm.DUE_DATE_LABEL" | translate
      }}</label>
      <input
        id="dueDate"
        type="date"
        [min]="getToday()"
        formControlName="dueDate"
      />
      @if (dueDateIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        {{ "task.createForm.DUE_DATE_INVALID" | translate }}
      </p>
      }
    </div>
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="startDate">{{
        "task.createForm.PRIORITY_LABEL" | translate
      }}</label>
      <select id="priority" formControlName="priority">
        <option value="" disabled>
          {{ "task.createForm.PRIORITY_SELECT" | translate }}
        </option>
        @for (priority of priorities; track priority) {
        <option [value]="priority">
          {{ mapPriority(priority) }}
        </option>
        }
      </select>
    </div>
    <div class="col-span-2 flex justify-end gap-2 mt-4">
      <button
        [disabled]="isLoading"
        (click)="onReset()"
        class="px-4 py-2 bg-slate-900 flex justify-center items-center rounded-md text-slate-300 disabled:cursor-not-allowed"
      >
        <p class="text-xs">{{ "task.createForm.RESET_BUTTON" | translate }}</p>
      </button>
      <button
        (click)="onSubmit()"
        class="px-4 py-2 bg-sky-500 flex justify-center items-center rounded-lg text-sky-100 disabled:bg-gray-500 disabled:cursor-not-allowed"
        [disabled]="form.invalid || isLoading"
      >
        <p class="text-xs">
          @if (isLoading) {
          {{ "task.createForm.LOADING_BUTTON" | translate }}
          } @else {
          {{ "task.createForm.ADD_BUTTON" | translate }}
          }
        </p>
      </button>
    </div>
  </form>
</div>
