<div class="flex flex-col gap-2 px-4 py-3 rounded-sm bg-slate-900">
  <div class="flex justify-between">
    <div class="flex gap-2 items-center">
      <div
        class="bg-slate-800 text-slate-300 flex justify-center items-center rounded-full w-[40px] h-[40px] aspect-square"
      >
        <mat-icon>add_task</mat-icon>
      </div>
      <p class="font-semibold">Add Task</p>
    </div>
    <button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" class="grid grid-cols-2 gap-2 bg-slate-900 p-2">
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        formControlName="description"
        placeholder="Enter task description"
        class="w-full"
      />
      @if (descriptionIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        Project description must contain between 2 and 120 characters.
      </p>
      }
    </div>
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="startDate">Due date</label>
      <input
        id="dueDate"
        type="date"
        [min]="getToday()"
        formControlName="dueDate"
      />
      @if (dueDateIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">
        Due date must be at least today.
      </p>
      }
    </div>
    <div class="grid grid-cols-3 gap-2 col-span-2">
      <label for="startDate">Priority</label>
      <select id="priority" formControlName="priority">
        <option value="" disabled>Select priority</option>
        @for (priority of priorities; track priority) {
        <option [value]="priority">
          {{ mapPriority(priority) }}
        </option>
        }
      </select>
      @if (priorityIsInvalid) {
      <p class="text-red-500 text-sm col-span-3">Priority is required.</p>
      }
    </div>
    <div class="col-span-2 flex justify-end gap-2 mt-4">
      <button
        (click)="onReset()"
        class="px-4 py-2 bg-slate-900 flex justify-center items-center rounded-md text-slate-300"
      >
        <p class="text-xs">Reset</p>
      </button>
      <button
        (click)="onSubmit()"
        class="px-4 py-2 bg-sky-500 flex justify-center items-center rounded-lg text-sky-100"
      >
        <p class="text-xs">Add Task</p>
      </button>
    </div>
  </form>
</div>
