<button
  [disabled]="disabled"
  (click)="onClick()"
  class="focus-ring flex cursor-pointer items-center justify-center rounded-full px-4 py-2 transition-colors hover:opacity-95 active:opacity-90 active:ring-0 disabled:cursor-not-allowed"
  [ngClass]="{
    'bg-sky-600 text-sky-100 disabled:bg-gray-500': type === 'submit',
    'bg-gray-400 text-slate-800 dark:bg-slate-700 dark:text-slate-300':
      type === 'reset',
    customClass,
  }"
>
  <p class="text-xs sm:text-sm"><ng-content /></p>
</button>
