<input
  [placeholder]="'task.details.ASSIGNEE_INPUT_PLACEHOLDER' | translate"
  [formControl]="form"
  (input)="onSearch()"
  class="w-full py-1 px-3 border-none bg-slate-950 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-slate-300 placeholder-slate-500"
/>
@if (searchResults.length > 0) {
<ul class="flex flex-col search-results overflow-y-scroll max-h-[400px] mt-1">
  @for (result of searchResults; track result.username) {
  <li
    class="px-3 py-2 sm:px-4 sm:py-2 text-slate-400 text-sm flex justify-between items-center gap-1 person-search transition-all rounded-full"
  >
    <p>
      {{ result.firstName }} {{ result.lastName }}
      <span class="text-gray-500">({{ result.username }}) </span>
    </p>

    <button
      class="flex items-center justify-center bg-slate-900 hover:text-slate-500 rounded-full text-slate-400 shadow-sm"
      (click)="handleAdd(result)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </li>
  }
</ul>
}
