@if (isModalOpen) {
<app-confirm-modal />
} @if (showChat()) {
<app-chat @chatAnimation [isTaskChat]="true" />
}

<div class="flex flex-col gap-10 w-full px-4">
  <div class="flex flex-col-reverse gap-2 items-end">
    <app-button
      bgColor="bg-slate-400"
      textColor="text-slate-900"
      hoverBgColor="hover:bg-slate-500"
      (handleClick)="handleGoBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </app-button>
    <div class="flex gap-2">
      <app-button
        bgColor="bg-sky-300"
        textColor="text-slate-900"
        hoverBgColor="hover:bg-sky-400"
        (handleClick)="handleEdit()"
      >
        <mat-icon>edit</mat-icon>
      </app-button>
      <app-button
        bgColor="bg-pink-900"
        textColor="text-pink-200"
        hoverBgColor="hover:bg-pink-950"
        (handleClick)="handleDelete()"
      >
        <mat-icon>delete</mat-icon>
      </app-button>
    </div>
  </div>
  <div class="flex flex-col justify-between">
    <app-task-details />
    <app-task-assignees />
  </div>
</div>
<button
  class="fixed bottom-4 right-4 rounded-full bg-sky-500 h-10 flex items-center justify-center aspect-square transition-all cursor-pointer shadow-sm text-white hover:scale-105"
  (click)="toggleChat()"
>
  <mat-icon class="transition-transform" [class.rotate-180]="showChat()">
    @if (showChat()) { keyboard_arrow_up } @else { chat }
  </mat-icon>
</button>
