<nav
  class="shadow-sm h-full gap-3 grid grid-cols-1 lg:grid-rows-[auto_auto_1fr] justify-start"
>
  <button
    (click)="toggleSidebar()"
    class="bg-sky-500 rounded-full hover:bg-sky-600 transition-all hidden xl:flex col-span-2 ml-3 focus:outline-none focus:ring-2 focus:ring-slate-300"
    [class.justify-self-end]="!isCollapsed"
    [class.justify-self-start]="isCollapsed"
  >
    <mat-icon>{{ isCollapsed ? "chevron_right" : "chevron_left" }}</mat-icon>
  </button>
  <div
    class="grid mx-auto lg:mx-0 grid-cols-5 lg:gap-0.5 lg:grid-cols-1 lg:grid-rows-5 items-center"
  >
    <button
      class="sidebar hover:bg-orange-100 dark:hover:bg-slate-900"
      (click)="openSearchDialog()"
    >
      <p class="sidebar-item">
        <mat-icon>search</mat-icon>
      </p>
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.SEARCH" | translate }}
      </p>
    </button>
    <div
      class="sidebar hover:bg-orange-100 dark:hover:bg-slate-900"
      routerLink="/dashboard"
      routerLinkActive="text-sky-500"
    >
      <p class="sidebar-item">
        <mat-icon>space_dashboard</mat-icon>
      </p>
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.DASHBOARD" | translate }}
      </p>
    </div>
    <div
      class="sidebar hover:bg-orange-100 dark:hover:bg-slate-900"
      routerLink="projects"
      routerLinkActive="text-sky-500"
    >
      <p class="sidebar-item">
        <mat-icon>folder_open</mat-icon>
      </p>
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.PROJECTS" | translate }}
      </p>
    </div>
    <div
      class="sidebar w-auto hover:bg-orange-100 dark:hover:bg-slate-900"
      routerLink="notifications"
      routerLinkActive="text-sky-500"
    >
      <p class="sidebar-item">
        <mat-icon>notifications</mat-icon>
      </p>
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.NOTIFICATIONS" | translate }}
      </p>
    </div>
    <div
      class="sidebar hover:bg-orange-100 dark:hover:bg-slate-900"
      routerLink="users"
      routerLinkActive="text-sky-500 profile-active"
    >
      @if (user) {
      <p
        class="rounded-full flex justify-center items-center aspect-square w-6 h-6 text-xs bg-slate-900 text-slate-300 dark:bg-slate-300 dark:text-slate-950 profile-picture"
      >
        {{ user.firstName.charAt(0) + user.lastName.charAt(0) }}
      </p>

      } @else {
      <p class="sidebar-item">
        <mat-icon>account_circle</mat-icon>
      </p>
      }
      <p
        class="sidebar-item"
        [@toggleMenu]="isCollapsed ? 'collapsed' : 'expanded'"
      >
        {{ "sidebar.PROFILE" | translate }}
      </p>
    </div>
  </div>
</nav>
