@if (user) {
  <div class="flex flex-col items-center justify-center gap-10">
    <div class="flex flex-col items-center gap-4 text-center">
      <app-user-header />
      @if (showAddToProjectButton && !isLoggedInUser(user.username)) {
        <app-user-project-add-button />
      } @else if (isLoggedInUser(user.username)) {
        <button
          class="focus-ring mb-4 rounded-full bg-blue-500 px-4 py-2 text-white transition-colors hover:bg-blue-600 active:text-sky-200"
          (click)="openEditProfileDialog()"
        >
          {{ "user.profile.EDIT_BUTTON" | translate }}
        </button>
      }
    </div>
    @if (user.projects.length > 0) {
      <app-user-projects-list>
        @if (isLoggedInUser(user.username)) {
          {{ "user.profile.LOGGED_USER_TEXT" | translate }}
        } @else {
          {{ "user.profile.NOT_LOGGED_USER_TEXT" | translate }}
        }
      </app-user-projects-list>
    }
  </div>
}
